/* emergence-6 */
:root {
  --emergence-6-non-being-0-font-size: 0.31em;
  --emergence-6-non-being-00-font-size: 0.43em;
  --emergence-6-non-being-000-font-size: 0.8em;
  --emergence-6-non-being-line-thickness: 0.28em;
  --emergence-6-path-font-size: calc(var(--emergence-6-path-width) * 0.65);
  --emergence-6-path-shadow: 0 0 0.4vh 0.2vh var(--color-darker);
  --emergence-6-path-width: calc(var(--emergence-6-sphere-diameter) * 0.28);
  --emergence-6-sphere-diameter: 13.9vh;
  --emergence-6-sphere-horizontal-offset: calc(var(--emergence-6-sphere-spacing) * 0.866);
  --emergence-6-sphere-name-font-size: calc(var(--emergence-6-sphere-diameter) * 0.2);
  --emergence-6-sphere-number-font-size: calc(var(--emergence-6-sphere-diameter) * 0.22);
  --emergence-6-sphere-shadow: 0 0 0.6vh 0.3vh var(--color-darker);
  --emergence-6-sphere-spacing: calc(var(--emergence-6-sphere-diameter) * 1.8);
  --emergence-6-sphere-symbol-font-size: calc(var(--emergence-6-sphere-diameter) * 0.4);
  --emergence-6-top: calc(var(--emergence-6-sphere-diameter) * 2.6);
}

#tree-anim.emergence-6 .non-being {
  display: block;
  top: var(--emergence-6-top);
}
#tree-anim.emergence-6.transition-from-emergence-5x .non-being {
  animation: transition-6-from-5x-non-being var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-non-being {
  from {
    top: var(--emergence-5x-top);
  } to {
    top: var(--emergence-6-top);
  }
}

#tree-anim.emergence-6 .non-being.nothing svg {
  font-size: var(--emergence-6-non-being-0-font-size);
  height: calc(var(--emergence-6-sphere-spacing) * 3.2);
  width: calc(var(--emergence-6-sphere-spacing) * 3.2);
}
#tree-anim.emergence-6.transition-from-emergence-5x .non-being.nothing svg {
  animation: transition-6-from-5x-nothing-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-nothing-svg {
  from {
    font-size: var(--emergence-5x-non-being-0-font-size);
    height: calc(var(--emergence-5x-sphere-spacing) * 3.2);
    width: calc(var(--emergence-5x-sphere-spacing) * 3.2);
  } to {
    font-size: var(--emergence-6-non-being-0-font-size);
    height: calc(var(--emergence-6-sphere-spacing) * 3.2);
    width: calc(var(--emergence-6-sphere-spacing) * 3.2);
  }
}

#tree-anim.emergence-6 .non-being.without-limit {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-6-non-being-line-thickness);
  height: calc(var(--emergence-6-sphere-spacing) * 2);
  width: calc(var(--emergence-6-sphere-spacing) * 2);
}
#tree-anim.emergence-6.transition-from-emergence-5x .non-being.without-limit {
  animation: transition-6-from-5x-without-limit var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-without-limit {
  from {
    border-width: var(--emergence-5x-non-being-line-thickness);
    height: calc(var(--emergence-5x-sphere-spacing) * 2);
    top: var(--emergence-5x-top);
    width: calc(var(--emergence-5x-sphere-spacing) * 2);
  } to {
    border-width: var(--emergence-6-non-being-line-thickness);
    height: calc(var(--emergence-6-sphere-spacing) * 2);
    top: var(--emergence-6-top);
    width: calc(var(--emergence-6-sphere-spacing) * 2);
  }
}

#tree-anim.emergence-6 .non-being.without-limit svg {
  font-size: var(--emergence-6-non-being-00-font-size);
  height: calc(var(--emergence-6-sphere-spacing) * 2.25);
  width: calc(var(--emergence-6-sphere-spacing) * 2.25);
}
#tree-anim.emergence-6.transition-from-emergence-5x .non-being.without-limit svg {
  animation: transition-6-from-5x-without-limit-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-without-limit-svg {
  from {
    font-size: var(--emergence-5x-non-being-00-font-size);
    height: calc(var(--emergence-5x-sphere-spacing) * 2.25);
    width: calc(var(--emergence-5x-sphere-spacing) * 2.25);
  } to {
    font-size: var(--emergence-6-non-being-00-font-size);
    height: calc(var(--emergence-6-sphere-spacing) * 2.25);
    width: calc(var(--emergence-6-sphere-spacing) * 2.25);
  }
}

#tree-anim.emergence-6 .non-being.all-possibility {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-6-non-being-line-thickness);
  height: calc(var(--emergence-6-sphere-spacing) + var(--emergence-6-sphere-diameter) * 0.5);
  width: calc(var(--emergence-6-sphere-spacing) + var(--emergence-6-sphere-diameter) * 0.5);
}
#tree-anim.emergence-6.transition-from-emergence-5x .non-being.all-possibility {
  animation: transition-6-from-5x-all-possibility var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-all-possibility {
  from {
    border-width: var(--emergence-5x-non-being-line-thickness);
    height: calc(var(--emergence-5x-sphere-spacing) + var(--emergence-5x-sphere-diameter) * 0.5);
    top: var(--emergence-5x-top);
    width: calc(var(--emergence-5x-sphere-spacing) + var(--emergence-5x-sphere-diameter) * 0.5);
  } to {
    border-width: var(--emergence-6-non-being-line-thickness);
    height: calc(var(--emergence-6-sphere-spacing) + var(--emergence-6-sphere-diameter) * 0.5);
    top: var(--emergence-6-top);
    width: calc(var(--emergence-6-sphere-spacing) + var(--emergence-6-sphere-diameter) * 0.5);
  }
}

#tree-anim.emergence-6 .non-being.all-possibility svg {
  font-size: var(--emergence-6-non-being-000-font-size);
  height: calc((var(--emergence-6-sphere-spacing) * 0.91 + var(--emergence-6-sphere-diameter) * 0.5));
  width: calc((var(--emergence-6-sphere-spacing) * 0.91 + var(--emergence-6-sphere-diameter) * 0.5));
}
#tree-anim.emergence-6.transition-from-emergence-5x .non-being.all-possibility svg {
  animation: transition-5x-from-5x-all-possibility-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-5x-from-5x-all-possibility-svg {
  from {
    font-size: var(--emergence-5x-non-being-000-font-size);
    height: calc((var(--emergence-5x-sphere-spacing) * 0.91 + var(--emergence-5x-sphere-diameter) * 0.5));
    width: calc((var(--emergence-5x-sphere-spacing) * 0.91 + var(--emergence-5x-sphere-diameter) * 0.5));
  } to {
    font-size: var(--emergence-6-non-being-000-font-size);
    height: calc((var(--emergence-6-sphere-spacing) * 0.91 + var(--emergence-6-sphere-diameter) * 0.5));
    width: calc((var(--emergence-6-sphere-spacing) * 0.91 + var(--emergence-6-sphere-diameter) * 0.5));
  }
}

#tree-anim.emergence-6 .non-being-arc-hider {
  display: block;
  height: calc(1.5 * var(--emergence-6-sphere-spacing));
  top: calc(var(--emergence-6-top) + 0.8 * var(--emergence-6-sphere-spacing));
  width: calc(1.5 * var(--emergence-6-sphere-spacing));
}
#tree-anim.emergence-6.transition-from-emergence-5x .non-being-arc-hider {
  animation: transition-6-from-5x-non-being-arc-hider var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-non-being-arc-hider {
  from {
    height: calc(1.5 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 0.8 * var(--emergence-5x-sphere-spacing));
    width: calc(1.5 * var(--emergence-5x-sphere-spacing));
  } to {
    height: calc(1.5 * var(--emergence-6-sphere-spacing));
    top: calc(var(--emergence-6-top) + 0.8 * var(--emergence-6-sphere-spacing));
    width: calc(1.5 * var(--emergence-6-sphere-spacing));
  }
}

#tree-anim.emergence-6 .sphere {
  box-shadow: var(--emergence-6-sphere-shadow);
  height: var(--emergence-6-sphere-diameter);
  width: var(--emergence-6-sphere-diameter);
}

#tree-anim.emergence-6 .sphere .name {
  font-size: var(--emergence-6-sphere-name-font-size);
}

#tree-anim.emergence-6 .sphere .number {
  font-size: var(--emergence-6-sphere-number-font-size);
}

#tree-anim.emergence-6 .sphere .symbol {
  font-weight: bold;
  font-size: var(--emergence-6-sphere-symbol-font-size);
}

#tree-anim.emergence-6 .sphere.sphere-1 {
  display: block;
  top: var(--emergence-6-top);
  left: 50%;
}
#tree-anim.emergence-6.transition-from-emergence-5x .sphere.sphere-1 {
  animation: transition-6-from-5x-sphere-1 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-sphere-1 {
  from {
    box-shadow: var(--emergence-5x-sphere-shadow);
    height: var(--emergence-5x-sphere-diameter);
    top: var(--emergence-5x-top);
    width: var(--emergence-5x-sphere-diameter);
  }
  to {
    box-shadow: var(--emergence-6-sphere-shadow);
    height: var(--emergence-6-sphere-diameter);
    top: var(--emergence-6-top);
    width: var(--emergence-6-sphere-diameter);
  }
}

#tree-anim.emergence-6 .sphere.sphere-1 .symbol.chaos {
  display: block;
  fill: var(--color-magenta);
}

#tree-anim.emergence-6 .sphere.sphere-2 {
  display: block;
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) / 2);
  left: calc(50% + var(--emergence-6-sphere-horizontal-offset));
}
#tree-anim.emergence-6.transition-from-emergence-5x .sphere.sphere-2 {
  animation: transition-6-from-5x-sphere-2 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-sphere-2 {
  from {
    box-shadow: var(--emergence-5x-sphere-shadow);
    height: var(--emergence-5x-sphere-diameter);
    left: calc(50% + 0.809 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 0.588 * var(--emergence-5x-sphere-spacing));
    width: var(--emergence-5x-sphere-diameter);
  }
  to {
    box-shadow: var(--emergence-6-sphere-shadow);
    height: var(--emergence-6-sphere-diameter);
    left: calc(50% + var(--emergence-6-sphere-horizontal-offset));
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) / 2);
    width: var(--emergence-6-sphere-diameter);
  }
}

#tree-anim.emergence-6 .sphere.sphere-2 .symbol.water {
  color: var(--color-blue);
  display: block;
}


#tree-anim.emergence-6 .sphere.sphere-3 {
  display: block;
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) / 2);
  left: calc(50% - var(--emergence-6-sphere-horizontal-offset));
}
#tree-anim.emergence-6.transition-from-emergence-5x .sphere.sphere-3 {
  animation: transition-6-from-5x-sphere-3 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-sphere-3 {
  from {
    box-shadow: var(--emergence-5x-sphere-shadow);
    height: var(--emergence-5x-sphere-diameter);
    left: calc(50% - 0.809 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 0.588 * var(--emergence-5x-sphere-spacing));
    width: var(--emergence-5x-sphere-diameter);
  }
  to {
    box-shadow: var(--emergence-6-sphere-shadow);
    height: var(--emergence-6-sphere-diameter);
    left: calc(50% - var(--emergence-6-sphere-horizontal-offset));
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) / 2);
    width: var(--emergence-6-sphere-diameter);
  }
}

#tree-anim.emergence-6 .sphere.sphere-3 .symbol.air {
  color: var(--color-yellow);
  display: block;
}

#tree-anim.emergence-6 .sphere.sphere-4 {
  display: block;
  left: calc(50% - var(--emergence-6-sphere-horizontal-offset));
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.5);
}
#tree-anim.emergence-6.transition-from-emergence-5x .sphere.sphere-4 {
  animation: transition-6-from-5x-sphere-4 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-sphere-4 {
  from {
    box-shadow: var(--emergence-5x-sphere-shadow);
    height: var(--emergence-5x-sphere-diameter);
    left: calc(50% - 0.5 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 1.539 * var(--emergence-5x-sphere-spacing));
    width: var(--emergence-5x-sphere-diameter);
  }
  to {
    box-shadow: var(--emergence-6-sphere-shadow);
    height: var(--emergence-6-sphere-diameter);
    left: calc(50% - var(--emergence-6-sphere-horizontal-offset));
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.5);
    width: var(--emergence-6-sphere-diameter);
  }
}

#tree-anim.emergence-6.transition-from-emergence-5x .sphere.sphere-4 .name.initial {
  animation: fade-out calc(var(--transition-duration) * 0.6);
  animation-fill-mode: both;
  display: block;
}

#tree-anim.emergence-6.transition-from-emergence-5x .sphere.sphere-4 .name {
  animation: fade-in calc(var(--transition-duration) * 0.6);
  animation-delay: calc(var(--transition-duration) * 0.4 );
  animation-fill-mode: both;
}

#tree-anim.emergence-6 .sphere.sphere-4 .symbol.earth {
  color: var(--color-green);
  display: block;
}

#tree-anim.emergence-6 .sphere.sphere-5 {
  display: block;
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.5);
  left: calc(50% + var(--emergence-6-sphere-horizontal-offset));
}
#tree-anim.emergence-6.transition-from-emergence-5x .sphere.sphere-5 {
  animation: transition-6-from-5x-sphere-5 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-sphere-5 {
  from {
    box-shadow: var(--emergence-5x-sphere-shadow);
    height: var(--emergence-5x-sphere-diameter);
    left: calc(50% + 0.5 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 1.539 * var(--emergence-5x-sphere-spacing));
    width: var(--emergence-5x-sphere-diameter);
  }
  to {
    box-shadow: var(--emergence-6-sphere-shadow);
    height: var(--emergence-6-sphere-diameter);
    left: calc(50% + var(--emergence-6-sphere-horizontal-offset));
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.5);
    width: var(--emergence-6-sphere-diameter);
  }
}

#tree-anim.emergence-6 .sphere.sphere-5 .name.name-change {
  display: none;
}
#tree-anim.emergence-6.transition-from-emergence-5x .sphere.sphere-5 .name.initial {
  animation: fade-out calc(var(--transition-duration) * 0.6);
  animation-fill-mode: both;
  display: block;
}

#tree-anim.emergence-6.transition-from-emergence-5x .sphere.sphere-5 .name {
  animation: fade-in calc(var(--transition-duration) * 0.6);
  animation-delay: calc(var(--transition-duration) * 0.4 );
  animation-fill-mode: both;
}

#tree-anim.emergence-6 .sphere.sphere-5 .symbol.fire {
  color: var(--color-red);
  display: block;
}

#tree-anim.emergence-6 .sphere.sphere-6 {
  display: block;
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 2);
  left: 50%;
}
#tree-anim.emergence-6.transition-from-emergence-5x .sphere.sphere-6 {
  animation: transition-6-from-5x-sphere-6 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-sphere-6 {
  from {
    box-shadow: var(--emergence-5x-sphere-shadow);
    height: var(--emergence-5x-sphere-diameter);
    top: var(--emergence-5x-top);
    width: var(--emergence-5x-sphere-diameter);
  }
  to {
    box-shadow: var(--emergence-6-sphere-shadow);
    height: var(--emergence-6-sphere-diameter);
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 2);
    width: var(--emergence-6-sphere-diameter);
  }
}

#tree-anim.emergence-6 .sphere.sphere-6 .symbol {
  display: none;
}

#tree-anim.emergence-6 .sphere.sphere-6 .symbol.initial {
  display: block;
  fill: var(--color-cyan);
}

#tree-anim.emergence-6 .path {
  box-shadow: var(--emergence-6-path-shadow);
  font-size: var(--emergence-6-path-font-size);
  height: var(--emergence-6-path-width);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path {
  animation: transition-6-from-5x-path var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
  }
}

#tree-anim.emergence-6 .path.path-0 {
  display: block;
  left: calc(50% + var(--emergence-6-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(30deg);
  width: var(--emergence-6-sphere-spacing);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-0 {
  animation: transition-6-from-5x-path-0 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-0 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
    left: calc(50% + 0.404 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 0.294 * var(--emergence-5x-sphere-spacing));
    transform: translate(-50%, -50%) rotate(36deg);
    width: var(--emergence-5x-sphere-spacing);
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    left: calc(50% + var(--emergence-6-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 0.25);
    transform: translate(-50%, -50%) rotate(30deg);
    width: var(--emergence-6-sphere-spacing);
  }
}

#tree-anim.emergence-6 .path.path-0 .number {
  transform: translate(-50%, -50%) rotate(-30deg);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-0 .number {
  animation: transition-6-from-5x-path-0-number var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-0-number {
  from {
    transform: translate(-50%, -50%) rotate(-36deg);
  } to {
    transform: translate(-50%, -50%) rotate(-30deg);
  }
}

#tree-anim.emergence-6 .path.path-1 {
  display: block;
  left: calc(50% - var(--emergence-6-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-6-sphere-spacing);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-1 {
  animation: transition-6-from-5x-path-1 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-1 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
    left: calc(50% - 0.404 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 0.294 * var(--emergence-5x-sphere-spacing));
    transform: translate(-50%, -50%) rotate(-36deg);
    width: var(--emergence-5x-sphere-spacing);
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    left: calc(50% - var(--emergence-6-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 0.25);
    transform: translate(-50%, -50%) rotate(-30deg);
    width: var(--emergence-6-sphere-spacing);
  }
}

#tree-anim.emergence-6 .path.path-1 .number {
  transform: translate(-50%, -50%) rotate(30deg);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-1 .number {
  animation: transition-6-from-5x-path-1-number var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-1-number {
  from {
    transform: translate(-50%, -50%) rotate(36deg);
  } to {
    transform: translate(-50%, -50%) rotate(30deg);
  }
}

#tree-anim.emergence-6 .path.path-2 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 0.5);
  width: calc(var(--emergence-6-sphere-horizontal-offset) * 2);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-2 {
  animation: transition-6-from-5x-path-2 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-2 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
    top: calc(var(--emergence-5x-top) + 0.588 * var(--emergence-5x-sphere-spacing));
    width: calc(1.618 * var(--emergence-5x-sphere-spacing));
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 0.5);
    width: calc(var(--emergence-6-sphere-horizontal-offset) * 2);
  }
}

#tree-anim.emergence-6 .path.path-3 {
  display: block;
  left: calc(50% - var(--emergence-6-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.75);
  transform: translate(-50%, -50%) rotate(210deg);
  width: var(--emergence-6-sphere-spacing);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-3 {
  animation: transition-6-from-5x-path-3 var(--transition-duration) cubic-bezier(0.5, 0.0, 0.6, 1.0);
}
@keyframes transition-6-from-5x-path-3 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
    left: calc(50% - 0.25 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 0.769 * var(--emergence-5x-sphere-spacing));
    transform: translate(-50%, -50%) rotate(108deg);
    width: calc(1.618 * var(--emergence-5x-sphere-spacing));
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    left: calc(50% - var(--emergence-6-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.75);
    transform: translate(-50%, -50%) rotate(210deg);
    width: calc(var(--emergence-6-sphere-spacing) * 0.7);
  }
}

#tree-anim.emergence-6 .path.path-3 .number {
  transform: translate(-50%, -50%) rotate(-210deg);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-3 .number {
  animation: transition-6-from-5x-path-3-number var(--transition-duration) cubic-bezier(0.5, 0.0, 0.6, 1.0);
}
@keyframes transition-6-from-5x-path-3-number {
  from {
    left: 62%;
    transform: translate(-50%, -50%) rotate(-108deg);
  }
  to {
    left: 50%;
    transform: translate(-50%, -50%) rotate(-210deg);
  }
}

#tree-anim.emergence-6 .path.path-4 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing));
  transform: translate(-50%, -50%) rotate(-30deg);
  width: calc(2 * var(--emergence-6-sphere-spacing));
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-4 {
  animation: transition-6-from-5x-path-4 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-4 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    left: calc(50% + 0.155 * var(--emergence-5x-sphere-spacing));
    height: var(--emergence-5x-path-width);
    top: calc(var(--emergence-5x-top) + 1.063 * var(--emergence-5x-sphere-spacing));
    transform: translate(-50%, -50%) rotate(-36deg);
    width: calc(1.618 * var(--emergence-5x-sphere-spacing));
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    left: 50%;
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing));
    transform: translate(-50%, -50%) rotate(-30deg);
    width: calc(2 * var(--emergence-6-sphere-spacing));
  }
}

#tree-anim.emergence-6 .path.path-4 .number {
  left: 70%;
  transform: translate(-50%, -50%) rotate(30deg);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-4 .number {
  animation: transition-6-from-5x-path-4-number var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-4-number {
  from {
    left: 50%;
    transform: translate(-50%, -50%) rotate(36deg);
  }
  to {
    left: 70%;
    transform: translate(-50%, -50%) rotate(30deg);
  }
}

#tree-anim.emergence-6 .path.path-5 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing));
  width: calc(2 * var(--emergence-6-sphere-spacing));
  transform: translate(-50%, -50%) rotate(30deg);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-5 {
  animation: transition-6-from-5x-path-5 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-5 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
    left: calc(50% - 0.155 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 1.063 * var(--emergence-5x-sphere-spacing));
    transform: translate(-50%, -50%) rotate(36deg);
    width: calc(1.618 * var(--emergence-5x-sphere-spacing));
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    left: 50%;
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing));
    transform: translate(-50%, -50%) rotate(30deg);
    width: calc(2 * var(--emergence-6-sphere-spacing));
  }
}

#tree-anim.emergence-6 .path.path-5 .number {
  left: 30%;
  transform: translate(-50%, -50%) rotate(-30deg);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-5 .number {
  animation: transition-6-from-5x-path-5-number var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-5-number {
  from {
    left: 50%;
    transform: translate(-50%, -50%) rotate(-36deg);
  }
  to {
    left: 30%;
    transform: translate(-50%, -50%) rotate(-30deg);
  }
}

#tree-anim.emergence-6 .path.path-6 {
  display: block;
  left: calc(50% + var(--emergence-6-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.75);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-6-sphere-spacing);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-6 {
  animation: transition-6-from-5x-path-6 var(--transition-duration) cubic-bezier(0.5, 0.0, 0.6, 1.0);
}
@keyframes transition-6-from-5x-path-6 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
    left: calc(50% + 0.25 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 0.769 * var(--emergence-5x-sphere-spacing));
    transform: translate(-50%, -50%) rotate(72deg);
    width: calc(1.618 * var(--emergence-5x-sphere-spacing));
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    left: calc(50% + var(--emergence-6-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.75);
    transform: translate(-50%, -50%) rotate(-30deg);
    width: calc(var(--emergence-6-sphere-spacing) * 0.7);
  }
}

#tree-anim.emergence-6 .path.path-6 .number {
  transform: translate(-50%, -50%) rotate(30deg);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-6 .number {
  animation: transition-6-from-5x-path-6-number var(--transition-duration) cubic-bezier(0.5, 0.0, 0.6, 1.0);
}
@keyframes transition-6-from-5x-path-6-number {
  from {
    left: 62%;
    transform: translate(-50%, -50%) rotate(-72deg);
  }
  to {
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
  }
}

#tree-anim.emergence-6 .path.path-7 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.5);
  width: calc(var(--emergence-6-sphere-horizontal-offset) * 2);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-7 {
  animation: transition-6-from-5x-path-7 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-7 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
    top: calc(var(--emergence-5x-top) + 1.539 * var(--emergence-5x-sphere-spacing));
    width: var(--emergence-5x-sphere-spacing);
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.5);
    width: calc(var(--emergence-6-sphere-horizontal-offset) * 2);
  }
}

#tree-anim.emergence-6 .path.path-8 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing));
  transform: translate(-50%, -50%) rotate(90deg);
  width: calc(2 * var(--emergence-6-sphere-spacing));
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-8 {
  animation: transition-6-from-5x-path-8 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-8 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
    top: var(--emergence-5x-top);
    width: 0;
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing));
    width: calc(2 * var(--emergence-6-sphere-spacing));
  }
}

#tree-anim.emergence-6 .path.path-8 .number {
  transform: translate(-50%, -50%) rotate(-90deg);
}

#tree-anim.emergence-6 .path.path-9 {
  display: block;
  left: calc(50% + var(--emergence-6-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.25);
  transform: translate(-50%, -50%) rotate(-60deg);
  width: calc(var(--emergence-6-sphere-spacing) * 1.5);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-9 {
  animation: transition-6-from-5x-path-9 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-9 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
    left: calc(50% + 0.404 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 0.294 * var(--emergence-5x-sphere-spacing));
    transform: translate(-50%, -50%) rotate(36deg);
    width: var(--emergence-5x-sphere-spacing);
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    left: calc(50% + var(--emergence-6-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.25);
    transform: translate(-50%, -50%) rotate(-60deg);
    width: calc(var(--emergence-6-sphere-spacing) * 1.5);
  }
}

#tree-anim.emergence-6 .path.path-9 .number {
  left: 64%;
  transform: translate(-50%, -50%) rotate(60deg);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-9 .number {
  animation: transition-6-from-5x-path-9-number var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-9-number {
  from {
    left: 50%;
    transform: translate(-50%, -50%) rotate(-36deg);
  }
  to {
    left: 64%;
    transform: translate(-50%, -50%) rotate(60deg);
  }
}

#tree-anim.emergence-6 .path.path-10 {
  display: block;
  left: calc(50% - var(--emergence-6-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.25);
  transform: translate(-50%, -50%) rotate(60deg);
  width: calc(var(--emergence-6-sphere-spacing) * 1.5);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-10 {
  animation: transition-6-from-5x-path-10 var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-10 {
  from {
    box-shadow: var(--emergence-5x-path-shadow);
    font-size: var(--emergence-5x-path-font-size);
    height: var(--emergence-5x-path-width);
    left: calc(50% - 0.404 * var(--emergence-5x-sphere-spacing));
    top: calc(var(--emergence-5x-top) + 0.294 * var(--emergence-5x-sphere-spacing));
    transform: translate(-50%, -50%) rotate(-36deg);
    width: var(--emergence-5x-sphere-spacing);
  }
  to {
    box-shadow: var(--emergence-6-path-shadow);
    font-size: var(--emergence-6-path-font-size);
    height: var(--emergence-6-path-width);
    left: calc(50% - var(--emergence-6-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6-top) + var(--emergence-6-sphere-spacing) * 1.25);
    transform: translate(-50%, -50%) rotate(60deg);
    width: calc(var(--emergence-6-sphere-spacing) * 1.5);
  }
}

#tree-anim.emergence-6 .path.path-10 .number {
  left: 36%;
  transform: translate(-50%, -50%) rotate(-60deg);
}
#tree-anim.emergence-6.transition-from-emergence-5x .path.path-10 .number {
  animation: transition-6-from-5x-path-10-number var(--transition-duration) ease-in-out;
}
@keyframes transition-6-from-5x-path-10-number {
  from {
    left: 50%;
    transform: translate(-50%, -50%) rotate(36deg);
  }
  to {
    left: 36%;
    transform: translate(-50%, -50%) rotate(-60deg);
  }
}

#tree-anim.emergence-6 .text.emergence-6 {
  display: block;
}

#tree-anim.emergence-6.transition-from-emergence-5x .text.emergence-6 {
  animation: fade-in calc(var(--transition-duration) / 2);
  animation-delay: calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
}

#tree-anim.emergence-6.transition-from-emergence-5x .text.emergence-5x {
  animation: fade-out calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
  display: block;
}
