/* emergence-00 */

#tree-anim.emergence-00 .non-being {
  height: 2000vh;
  width: 2000vh;
}

#tree-anim.emergence-00 .non-being svg {
  font-size: 0.018em;
  height: 2778vh;
  width: 2778vh;
}

#tree-anim.emergence-00 .non-being.nothing {
  display: block;
  top: 1000vh;
}

#tree-anim.emergence-00 .non-being.without-limit {
  border: 1vh solid var(--color-light);
  display: block;
  top: 1049vh;
}

#tree-anim.emergence-00 .text.emergence-00 {
  display: block;
}

#tree-anim.emergence-00.transition-from-emergence-0 .non-being.nothing {
  animation: transition-00-from-0-nothing var(--transition-duration);
}

#tree-anim.emergence-00.transition-from-emergence-0 .non-being.without-limit {
  animation: transition-00-from-0-without-limit var(--transition-duration);
}

#tree-anim.emergence-00.transition-from-emergence-0 .text.emergence-00 {
  animation: fade-in calc(var(--transition-duration) / 2);
  animation-delay: calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
}

#tree-anim.emergence-00.transition-from-emergence-0 .text.emergence-0 {
  animation: fade-out calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
  display: block;
}

@keyframes transition-00-from-0-nothing {
  from {
    top: 1023vh;
  }
  to {
    top: 1000vh;
  }
}

@keyframes transition-00-from-0-without-limit {
  from {
    top: 1105vh;
  }
  to {
    top: 1049vh;
  }
}
