/* emergence-12x */
:root {
  --emergence-12x-fools-journey-non-being-0-font-size: var(--emergence-12x-non-being-0-font-size);
  --emergence-12x-fools-journey-non-being-00-font-size: var(--emergence-12x-non-being-00-font-size);
  --emergence-12x-fools-journey-non-being-000-font-size: var(--emergence-12x-non-being-000-font-size);
  --emergence-12x-fools-journey-path-border-thickness: 0.3vh;
  --emergence-12x-fools-journey-path-font-size: calc(var(--emergence-12x-fools-journey-path-width) * 0.65);
  --emergence-12x-fools-journey-path-shadow: 0 0 0.3vh 0.18vh var(--color-light);
  --emergence-12x-fools-journey-path-width: calc(var(--emergence-12x-sphere-diameter) * 0.23);
  --emergence-12x-fools-journey-sphere-diameter: var(--emergence-12x-sphere-diameter);
  --emergence-12x-fools-journey-sphere-horizontal-offset: var(--emergence-12x-sphere-horizontal-offset);
  --emergence-12x-fools-journey-sphere-name-font-size: var(--emergence-12x-sphere-name-font-size);
  --emergence-12x-fools-journey-sphere-number-font-size: var(--emergence-12x-sphere-number-font-size);
  --emergence-12x-fools-journey-sphere-shadow: var(--emergence-12x-sphere-shadow);
  --emergence-12x-fools-journey-sphere-spacing: var(--emergence-12x-sphere-spacing);
  --emergence-12x-fools-journey-sphere-symbol-font-size: var(--emergence-12x-sphere-symbol-font-size);
  --emergence-12x-fools-journey-top: var(--emergence-12x-top);
}

#tree-anim.emergence-12x-fools-journey .non-being {
  display: block;
  top: var(--emergence-12x-fools-journey-top);
}

#tree-anim.emergence-12x-fools-journey .non-being.nothing svg {
  font-size: var(--emergence-12x-fools-journey-non-being-0-font-size);
  height: calc(var(--emergence-12x-fools-journey-sphere-spacing) * 3.2);
  width: calc(var(--emergence-12x-fools-journey-sphere-spacing) * 3.2);
}

#tree-anim.emergence-12x-fools-journey .non-being.without-limit {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-12x-fools-journey-non-being-line-thickness);
  height: calc(var(--emergence-12x-fools-journey-sphere-spacing) * 2);
  width: calc(var(--emergence-12x-fools-journey-sphere-spacing) * 2);
}

#tree-anim.emergence-12x-fools-journey .non-being.without-limit svg {
  font-size: var(--emergence-12x-fools-journey-non-being-00-font-size);
  height: calc(var(--emergence-12x-fools-journey-sphere-spacing) * 2.25);
  width: calc(var(--emergence-12x-fools-journey-sphere-spacing) * 2.25);
}

#tree-anim.emergence-12x-fools-journey .non-being.all-possibility {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-12x-fools-journey-non-being-line-thickness);
  height: calc(var(--emergence-12x-fools-journey-sphere-spacing) + var(--emergence-12x-fools-journey-sphere-diameter) * 0.5);
  width: calc(var(--emergence-12x-fools-journey-sphere-spacing) + var(--emergence-12x-fools-journey-sphere-diameter) * 0.5);
}

#tree-anim.emergence-12x-fools-journey .non-being.all-possibility svg {
  font-size: var(--emergence-12x-fools-journey-non-being-000-font-size);
  height: calc((var(--emergence-12x-fools-journey-sphere-spacing) * 0.91 + var(--emergence-12x-fools-journey-sphere-diameter) * 0.5));
  width: calc((var(--emergence-12x-fools-journey-sphere-spacing) * 0.91 + var(--emergence-12x-fools-journey-sphere-diameter) * 0.5));
}

#tree-anim.emergence-12x-fools-journey .non-being-arc-hider {
  display: block;
  height: calc(1.5 * var(--emergence-12x-fools-journey-sphere-spacing));
  top: calc(var(--emergence-12x-fools-journey-top) + 0.8 * var(--emergence-12x-fools-journey-sphere-spacing));
  width: calc(1.5 * var(--emergence-12x-fools-journey-sphere-spacing));
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .impulse.impulse-a {
  animation-name: emergence-12x-fools-journey-impulse-animation;
  animation-duration: 30s;
  animation-timing-function: linear;
  background-color: white;
  box-shadow: 0 0 0.6vh 0.5vh black;
  display: block;
  height: calc(0.9 * var(--emergence-12x-fools-journey-path-width));
  left: 50%;
  opacity: 0;
  top: var(--emergence-12x-fools-journey-top);
  width: calc(0.9 * var(--emergence-12x-fools-journey-path-width));
}

@keyframes emergence-12x-fools-journey-impulse-animation {
  0% {
    left: 50%;
    opacity: 0;
    top: var(--emergence-12x-fools-journey-top);
  }
  1.667% {
    left: 50%;
    opacity: 80%;
    top: var(--emergence-12x-fools-journey-top);
  }
  5% {
    left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 0.5);
  }
  8.333% {
    left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 0.5);
  }
  11.667% {
    left: 50%;
    top: var(--emergence-12x-fools-journey-top);
  }
  15% {
    left: 50%;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2);
  }
  18.333% {
    left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 1.5);
  }
  21.667% {
    left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 0.5);
  }
  25% {
    left: 50%;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2);
  }
  28.333% {
    left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 1.5);
  }
  31.667% {
    left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 0.5);
  }
  35% {
    left: 50%;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2);
  }
  38.333% {
    left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.5);
  }
  41.667% {
    left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 1.5);
  }
  45% {
    left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 1.5);
  }
  48.333% {
    left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.5);
  }
  51.667% {
    left: 50%;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2);
  }
  55% {
    left: 50%;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3);
  }
  58.333% {
    left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.5);
  }
  61.667% {
    left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.5);
  }
  65% {
    left: 50%;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3);
  }
  68.333% {
    left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.5);
  }
  71.667% {
    left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.5);
  }
  75% {
    left: 50%;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 4);
  }
  78.333% {
    left: 50%;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3);
  }
  81.667% {
    left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.5);
  }
  85% {
    left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.5);
  }
  88.333% {
    left: 50%;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 4);
  }
  91.667% {
    left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.5);
  }
  95% {
    left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.5);
  }
  98.333% {
    left: 50%;
    opacity: 80%;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 4);
  }
  100% {
    left: 50%;
    opacity: 0;
    top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 4);
  }
}

#tree-anim.emergence-12x-fools-journey .sphere {
  box-shadow: var(--emergence-12x-fools-journey-sphere-shadow);
  height: var(--emergence-12x-fools-journey-sphere-diameter);
  width: var(--emergence-12x-fools-journey-sphere-diameter);
}

#tree-anim.emergence-12x-fools-journey .sphere .name {
  font-size: var(--emergence-12x-fools-journey-sphere-name-font-size);
}

#tree-anim.emergence-12x-fools-journey .sphere .number {
  font-size: var(--emergence-12x-fools-journey-sphere-number-font-size);
}

#tree-anim.emergence-12x-fools-journey .sphere .symbol {
  font-weight: bold;
  font-size: var(--emergence-12x-fools-journey-sphere-symbol-font-size);
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-1 {
  display: block;
  top: var(--emergence-12x-fools-journey-top);
  left: 50%;
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-1 .symbol.chaos {
  display: block;
  fill: var(--color-magenta);
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-2 {
  display: block;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) / 2);
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-2 .symbol.water {
  color: var(--color-blue);
  display: block;
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-3 {
  display: block;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) / 2);
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-3 .symbol.air {
  color: var(--color-yellow);
  display: block;
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-4 {
  display: block;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 1.5);
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-4 .symbol.earth {
  color: var(--color-green);
  display: block;
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-5 {
  display: block;
  top: calc(
    var(--emergence-12x-fools-journey-top) +
    var(--emergence-12x-fools-journey-sphere-spacing) * 1.5
  );
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-5 .symbol.fire {
  color: var(--color-red);
  display: block;
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-6 {
  display: block;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2);
  left: 50%;
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-6 .symbol.hexagram {
  display: block;
  fill: var(--color-cyan);
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-7 {
  display: block;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.5);
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-8 {
  display: block;
  top: calc(
    var(--emergence-12x-fools-journey-top) +
    var(--emergence-12x-fools-journey-sphere-spacing) * 2.5
  );
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-9 {
  display: block;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3);
  left: 50%;
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-10 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.5);
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-11 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.5);
}

#tree-anim.emergence-12x-fools-journey .sphere.sphere-12 {
  display: block;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 4);
  left: 50%;
}

#tree-anim.emergence-12x-fools-journey .path {
  box-shadow: var(--emergence-12x-fools-journey-path-shadow);
  border: var(--emergence-12x-fools-journey-path-border-thickness) solid var(--color-darker);
  font-size: var(--emergence-12x-fools-journey-path-font-size);
  height: var(--emergence-12x-fools-journey-path-width);
/*
  background-image: url('path-arrow.svg');
  background-size: var(--emergence-12x-fools-journey-path-width) var(--emergence-12x-fools-journey-path-width);
  background-repeat: repeat-y;
  animation-name: path-background-motion;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-position: 0, 0;
  background-color: #ccc;
*/
}

@keyframes emergence-12x-fools-journey-from-12-path {
  from {
    box-shadow: var(--emergence-12x-path-shadow);
    border-width: 0;
    font-size: var(--emergence-12x-path-font-size);
    height: var(--emergence-12x-path-width);
  } to {
    box-shadow: var(--emergence-12x-fools-journey-path-shadow);
    border-width: var(--emergence-12x-fools-journey-path-border-thickness);
    font-size: var(--emergence-12x-fools-journey-path-font-size);
    height: var(--emergence-12x-fools-journey-path-width);
  }
}

/*
@keyframes path-background-motion {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 var(--emergence-12x-fools-journey-path-width);
  }
}
*/


#tree-anim.emergence-12x-fools-journey .path .number.emergence-number {
  animation-fill-mode: both;
  opacity: 0;
}

#tree-anim.emergence-12x-fools-journey .path .number.fools-journey-number {
  animation-fill-mode: both;
  display: block;
}

#tree-anim.emergence-12x-fools-journey .path .number.fools-journey-number.left::before {
  color: #aaa;
  content: '\276E';
  font-size: 0.9em;
  padding-right: 0.18em;
  position: relative;
  top: -0.1em;
}

#tree-anim.emergence-12x-fools-journey .path .number.fools-journey-number.left::after {
  color: #aaa;
  content: '\276E';
  font-size: 0.9em;
  padding-left: 0.09em;
  position: relative;
  top: -0.1em;
}

#tree-anim.emergence-12x-fools-journey .path .number.fools-journey-number.right::before {
  color: #aaa;
  content: '\276F ';
  font-size: 0.9em;
  padding-right: 0.18em;
  position: relative;
  top: -0.1em;
}

#tree-anim.emergence-12x-fools-journey .path .number.fools-journey-number.right::after {
  color: #aaa;
  content: ' \276F';
  font-size: 0.9em;
  padding-left: 0.09em;
  position: relative;
  top: -0.1em;
}

/*
#tree-anim.emergence-12x-fools-journey .path::before {
  background-image: var(--path-arrow-start-svg);
  background-size:
    calc(2.5 * var(--emergence-12x-fools-journey-path-width))
    calc(var(--emergence-12x-fools-journey-path-width) + 2px);
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 2px);
  opacity: 30%;
  height: calc(var(--emergence-12x-fools-journey-path-width) + 4px);
  width: calc(2.5 * var(--emergence-12x-fools-journey-path-width));
}

#tree-anim.emergence-12x-fools-journey .path::after {
  background-image: var(--path-arrow-end-svg);
  background-size:
    calc(2.5 * var(--emergence-12x-fools-journey-path-width))
    calc(var(--emergence-12x-fools-journey-path-width) + 2px);
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 2px);
  opacity: 30%;
  height: calc(var(--emergence-12x-fools-journey-path-width) + 4px);
  width: calc(2.5 * var(--emergence-12x-fools-journey-path-width));
}
*/

#tree-anim.emergence-12x-fools-journey .path.path-0 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-0 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(30deg);
}

#tree-anim.emergence-12x-fools-journey .path.path-0 .number.fools-journey-number.right {
  display: none;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-0 {
  animation: emergence-12x-fools-journey-from-12-path 1s 0.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-0 .number.emergence-number {
  animation: fade-out 0.5s 0.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-0 .number.fools-journey-number {
  animation: fade-in 0.5s 1s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-1 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

/*
#tree-anim.emergence-12x-fools-journey .path.path-1::before {
  top: 36%;
  transform: translate(-50%, -50%) rotate(90deg);
}

#tree-anim.emergence-12x-fools-journey .path.path-1::after {
  top: 64%;
  transform: translate(-50%, -50%) rotate(90deg);
}
*/

#tree-anim.emergence-12x-fools-journey .path.path-1 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-30deg);
}

#tree-anim.emergence-12x-fools-journey .path.path-1 .number.fools-journey-number.right {
  display: none;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-1 {
  animation: emergence-12x-fools-journey-from-12-path 1s 2.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-1 .number.emergence-number {
  animation: fade-out 0.5s 2.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-1 .number.fools-journey-number {
  animation: fade-in 0.5s 3s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-2 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 0.5);
  transform: translate(-50%, -50%);
  width: calc(var(--emergence-12x-fools-journey-sphere-horizontal-offset) * 2);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-2 {
  animation: emergence-12x-fools-journey-from-12-path 1s 1.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-2 .number.emergence-number {
  animation: fade-out 0.5s 1.7s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-2 .number.fools-journey-number.left {
  display: none;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-2 .number.fools-journey-number {
  animation: fade-in 0.5s 2s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-3 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 1.75);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-3 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(30deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-3 {
  animation: emergence-12x-fools-journey-from-12-path 1s 4.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-3 .number.emergence-number {
  animation: fade-out 0.5s 4.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-3 .number.fools-journey-number {
  animation: fade-in 0.5s 5s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-4 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing));
  transform: translate(-50%, -50%) rotate(30deg);
  width: calc(2 * var(--emergence-12x-fools-journey-sphere-spacing));
}

#tree-anim.emergence-12x-fools-journey .path.path-4 .number {
  left: 30%;
}

#tree-anim.emergence-12x-fools-journey .path.path-4 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-30deg);
}

#tree-anim.emergence-12x-fools-journey .path.path-4 .number.fools-journey-number.right {
  display: none;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-4 {
  animation: emergence-12x-fools-journey-from-12-path 1s 5.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-4 .number.emergence-number {
  animation: fade-out 0.5s 5.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-4 .number.fools-journey-number {
  animation: fade-in 0.5s 6s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-5 {
  display: block;
  width: calc(2 * var(--emergence-12x-fools-journey-sphere-spacing));
  left: 50%;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing));
  transform: translate(-50%, -50%) rotate(-30deg);
}

#tree-anim.emergence-12x-fools-journey .path.path-5 .number {
  left: 70%;
}

#tree-anim.emergence-12x-fools-journey .path.path-5 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(30deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-5 {
  animation: emergence-12x-fools-journey-from-12-path 1s 8.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-5 .number.emergence-number {
  animation: fade-out 0.5s 8.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-5 .number.fools-journey-number {
  animation: fade-in 0.5s 9s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-6 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 1.75);
  transform: translate(-50%, -50%) rotate(30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-6 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-30deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-6 {
  animation: emergence-12x-fools-journey-from-12-path 1s 7.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-6 .number.emergence-number {
  animation: fade-out 0.5s 7.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-6 .number.fools-journey-number {
  animation: fade-in 0.5s 8s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-7 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 1.5);
  width: calc(var(--emergence-12x-fools-journey-sphere-horizontal-offset) * 2);
  transform: translate(-50%, -50%);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-7 {
  animation: emergence-12x-fools-journey-from-12-path 1s 12.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-7 .number.emergence-number {
  animation: fade-out 0.5s 12.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-7 .number.fools-journey-number {
  animation: fade-in 0.5s 13s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-8 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing));
  width: calc(2 * var(--emergence-12x-fools-journey-sphere-spacing));
  transform: translate(-50%, -50%) rotate(-90deg);
}

#tree-anim.emergence-12x-fools-journey .path.path-8 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(90deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-8 {
  animation: emergence-12x-fools-journey-from-12-path 1s 3.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-8 .number.emergence-number {
  animation: fade-out 0.5s 3.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-8 .number.fools-journey-number {
  animation: fade-in 0.5s 4s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-9 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 1.25);
  transform: translate(-50%, -50%) rotate(60deg);
  width: calc(var(--emergence-12x-fools-journey-sphere-spacing) * 1.5);
}

#tree-anim.emergence-12x-fools-journey .path.path-9 .number {
  left: 35%;
}

#tree-anim.emergence-12x-fools-journey .path.path-9 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-60deg);
}

#tree-anim.emergence-12x-fools-journey .path.path-9 .number.fools-journey-number.left {
  display: none;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-9 {
  animation: emergence-12x-fools-journey-from-12-path 1s 6.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-9 .number.emergence-number {
  animation: fade-out 0.5s 6.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-9 .number.fools-journey-number {
  animation: fade-in 0.5s 7s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-10 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 1.25);
  transform: translate(-50%, -50%) rotate(-60deg);
  width: calc(var(--emergence-12x-fools-journey-sphere-spacing) * 1.5);
}

#tree-anim.emergence-12x-fools-journey .path.path-10 .number {
  left: 65%;
}

#tree-anim.emergence-12x-fools-journey .path.path-10 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(60deg);
}

#tree-anim.emergence-12x-fools-journey .path.path-10 .number.fools-journey-number.right {
  display: none;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-10 {
  animation: emergence-12x-fools-journey-from-12-path 1s 9.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-10 .number.emergence-number {
  animation: fade-out 0.5s 9.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-10 .number.fools-journey-number {
  animation: fade-in 0.5s 10s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-11 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.25);
  transform: translate(-50%, -50%) rotate(30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-11 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-30deg);
}

#tree-anim.emergence-12x-fools-journey .path.path-11 .number.fools-journey-number.left {
  display: none;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-11 {
  animation: emergence-12x-fools-journey-from-12-path 1s 10.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-11 .number.emergence-number {
  animation: fade-out 0.5s 10.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-11 .number.fools-journey-number {
  animation: fade-in 0.5s 11s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-12 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2);
  transform: translate(-50%, -50%) rotate(-90deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-12 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(90deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-12 {
  animation: emergence-12x-fools-journey-from-12-path 1s 11.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-12 .number.emergence-number {
  animation: fade-out 0.5s 11.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-12 .number.fools-journey-number {
  animation: fade-in 0.5s 12s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-13 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2);
  transform: translate(-50%, -50%) rotate(-90deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-13 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(90deg);
}

#tree-anim.emergence-12x-fools-journey .path.path-13 .number.fools-journey-number.right {
  display: none;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-13 {
  animation: emergence-12x-fools-journey-from-12-path 1s 13.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-13 .number.emergence-number {
  animation: fade-out 0.5s 13.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-13 .number.fools-journey-number {
  animation: fade-in 0.5s 14s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-14 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.25);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-14 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(30deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-14 {
  animation: emergence-12x-fools-journey-from-12-path 1s 14.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-14 .number.emergence-number {
  animation: fade-out 0.5s 14.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-14 .number.fools-journey-number {
  animation: fade-in 0.5s 15s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-15 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.5);
  width: calc(var(--emergence-12x-fools-journey-sphere-horizontal-offset) * 2);
}

#tree-anim.emergence-12x-fools-journey .path.path-15 .number {
  left: 32%;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-15 {
  animation: emergence-12x-fools-journey-from-12-path 1s 17.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-15 .number.emergence-number {
  animation: fade-out 0.5s 17.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-15 .number.fools-journey-number {
  animation: fade-in 0.5s 18s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-16 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.5);
  transform: translate(-50%, -50%) rotate(-90deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-16 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(90deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-16 {
  animation: emergence-12x-fools-journey-from-12-path 1s 15.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-16 .number.emergence-number {
  animation: fade-out 0.5s 15.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-16 .number.fools-journey-number {
  animation: fade-in 0.5s 16s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-17 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.75);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-17 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(30deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-17 {
  animation: emergence-12x-fools-journey-from-12-path 1s 16.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-17 .number.emergence-number {
  animation: fade-out 0.5s 16.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-17 .number.fools-journey-number {
  animation: fade-in 0.5s 17s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-18 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 2.75);
  transform: translate(-50%, -50%) rotate(30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-18 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-30deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-18 {
  animation: emergence-12x-fools-journey-from-12-path 1s 18.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-18 .number.emergence-number {
  animation: fade-out 0.5s 18.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-18 .number.fools-journey-number {
  animation: fade-in 0.5s 19s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-19 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.25);
  transform: translate(-50%, -50%) rotate(30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-19 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-30deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-19 {
  animation: emergence-12x-fools-journey-from-12-path 1s 19.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-19 .number.emergence-number {
  animation: fade-out 0.5s 19.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-19 .number.fools-journey-number {
  animation: fade-in 0.5s 20s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-20 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset));
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3);
  transform: translate(-50%, -50%) rotate(-90deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-20 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(90deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-20 {
  animation: emergence-12x-fools-journey-from-12-path 1s 20.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-20 .number.emergence-number {
  animation: fade-out 0.5s 20.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-20 .number.fools-journey-number {
  animation: fade-in 0.5s 21s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-21 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset));
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3);
  transform: translate(-50%, -50%) rotate(-90deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-21 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(90deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-21 {
  animation: emergence-12x-fools-journey-from-12-path 1s 24.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-21 .number.emergence-number {
  animation: fade-out 0.5s 24.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-21 .number.fools-journey-number {
  animation: fade-in 0.5s 25s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-22 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.25);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-22 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(30deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-22 {
  animation: emergence-12x-fools-journey-from-12-path 1s 23.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-22 .number.emergence-number {
  animation: fade-out 0.5s 23.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-22 .number.fools-journey-number {
  animation: fade-in 0.5s 24s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-23 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.5);
  transform: translate(-50%, -50%);
  width: calc(var(--emergence-12x-fools-journey-sphere-horizontal-offset) * 2);
}

#tree-anim.emergence-12x-fools-journey .path.path-23 .number {
  left: 32%;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-23 {
  animation: emergence-12x-fools-journey-from-12-path 1s 27.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-23 .number.emergence-number {
  animation: fade-out 0.5s 27.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-23 .number.fools-journey-number {
  animation: fade-in 0.5s 28s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-24 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.5);
  transform: translate(-50%, -50%) rotate(-90deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-24 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(90deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-24 {
  animation: emergence-12x-fools-journey-from-12-path 1s 22.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-24 .number.emergence-number {
  animation: fade-out 0.5s 22.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-24 .number.fools-journey-number {
  animation: fade-in 0.5s 23s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-25 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.25);
  transform: translate(-50%, -50%) rotate(-60deg);
  width: calc(var(--emergence-12x-fools-journey-sphere-spacing) * 1.5);
}

#tree-anim.emergence-12x-fools-journey .path.path-25 .number {
  left: 72%;
}

#tree-anim.emergence-12x-fools-journey .path.path-25 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(60deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-25 {
  animation: emergence-12x-fools-journey-from-12-path 1s 21.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-25 .number.emergence-number {
  animation: fade-out 0.5s 21.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-25 .number.fools-journey-number {
  animation: fade-in 0.5s 22s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-26 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.25);
  transform: translate(-50%, -50%) rotate(60deg);
  width: calc(var(--emergence-12x-fools-journey-sphere-spacing) * 1.5);
}

#tree-anim.emergence-12x-fools-journey .path.path-26 .number {
  left: 28%;
}

#tree-anim.emergence-12x-fools-journey .path.path-26 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-60deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-26 {
  animation: emergence-12x-fools-journey-from-12-path 1s 25.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-26 .number.emergence-number {
  animation: fade-out 0.5s 25.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-26 .number.fools-journey-number {
  animation: fade-in 0.5s 26s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-27 {
  display: block;
  left: calc(50% + var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.75);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-27 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(30deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-27 {
  animation: emergence-12x-fools-journey-from-12-path 1s 26.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-27 .number.emergence-number {
  animation: fade-out 0.5s 26.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-27 .number.fools-journey-number {
  animation: fade-in 0.5s 27s both;
}

#tree-anim.emergence-12x-fools-journey .path.path-28 {
  display: block;
  left: calc(50% - var(--emergence-12x-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-12x-fools-journey-top) + var(--emergence-12x-fools-journey-sphere-spacing) * 3.75);
  transform: translate(-50%, -50%) rotate(30deg);
  width: var(--emergence-12x-fools-journey-sphere-spacing);
}

#tree-anim.emergence-12x-fools-journey .path.path-28 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-30deg);
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-28 {
  animation: emergence-12x-fools-journey-from-12-path 1s 28.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-28 .number.emergence-number {
  animation: fade-out 0.5s 28.7s both;
}

#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .path.path-28 .number.fools-journey-number {
  animation: fade-in 0.5s 29s both;
}

#tree-anim.emergence-12x-fools-journey .text.emergence-12x-fools-journey {
  display: block;
}
#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .text.emergence-12x-fools-journey {
  animation: fade-in calc(var(--transition-duration) / 2);
  animation-delay: calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
}
#tree-anim.emergence-12x-fools-journey.transition-from-emergence-12x .text.emergence-12x {
  animation: fade-out calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
  display: block;
}
