/* emergence-1 */
:root {
  --emergence-1-non-being-0-font-size: 0.31em;
  --emergence-1-non-being-00-font-size: 0.43em;
  --emergence-1-non-being-000-font-size: 0.78em;
  --emergence-1-non-being-line-thickness: 0.28em;
  --emergence-1-sphere-diameter: 17vh;
  --emergence-1-sphere-name-font-size: calc(var(--emergence-2-sphere-diameter) * 0.2);
  --emergence-1-sphere-number-font-size: calc(var(--emergence-2-sphere-diameter) * 0.22);
  --emergence-1-sphere-shadow: 0 0 0.6vh 0.3vh var(--color-darker);
  --emergence-1-sphere-spacing: calc(var(--emergence-2-sphere-diameter) * 1.5);
  --emergence-1-sphere-symbol-font-size: calc(var(--emergence-2-sphere-diameter) * 0.4);
  --emergence-1-top: calc(var(--emergence-2-sphere-diameter) * 2.725);
}

#tree-anim.emergence-1 .non-being {
  display: block;
  top: var(--emergence-1-top);
}
#tree-anim.emergence-1.transition-from-emergence-000 .non-being {
  animation: transition-1-from-000-non-being var(--transition-duration) linear;
}
@keyframes transition-1-from-000-non-being {
  from {
    top: 1000vh;
  }
  to {
    top: var(--emergence-1-top);
  }
}

#tree-anim.emergence-1 .non-being.nothing svg {
  font-size: var(--emergence-1-non-being-0-font-size);
  height: calc(var(--emergence-1-sphere-spacing) * 3.2);
  width: calc(var(--emergence-1-sphere-spacing) * 3.2);
}
#tree-anim.emergence-1.transition-from-emergence-000 .non-being.nothing svg {
  animation:
    transition-1-from-000-nothing-svg-size var(--transition-duration) linear,
    transition-1-from-000-nothing-svg-font-size var(--transition-duration) linear;
}
@keyframes transition-1-from-000-nothing-svg-size {
  from {
    height: 2802vh;
    width: 2802vh;
  }
  to {
    height: calc(var(--emergence-1-sphere-spacing) * 3.2);
    width: calc(var(--emergence-1-sphere-spacing) * 3.2);
  }
}
@keyframes transition-1-from-000-nothing-svg-font-size {
  /* 0.011 + (-0.009)/(x-1.03) */
  0% {
    font-size: 0.018em;
  }
  50% {
    font-size: 0.028em
  }
  60% {
    font-size: 0.0319em
  }
  70% {
    font-size: 0.0383em
  }
  80% {
    font-size: 0.0501em
  }
  85% {
    font-size: 0.0610em
  }
  90% {
    font-size: 0.0802em
  }
  93% {
    font-size: 0.1010em
  }
  95% {
    font-size: 0.1235em
  }
  96% {
    font-size: 0.1396em
  }
  97% {
    font-size: 0.1610em
  }
  98% {
    font-size: 0.1910em
  }
  99% {
    font-size: 0.2360em
  }
  99.5% {
    font-size: 0.2681em
  }
  100% {
    font-size: var(--emergence-1-non-being-00-font-size)
  }




  from {
    font-size: 0.018em;
  }
  to {
    font-size: var(--emergence-1-non-being-0-font-size);
  }
}

#tree-anim.emergence-1 .non-being.without-limit {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-1-non-being-line-thickness);
  height: calc(var(--emergence-1-sphere-spacing) * 2);
  width: calc(var(--emergence-1-sphere-spacing) * 2);
}
#tree-anim.emergence-1.transition-from-emergence-000 .non-being.without-limit {
  animation: transition-1-from-000-without-limit var(--transition-duration) linear;
}
@keyframes transition-1-from-000-without-limit {
  from {
    border-width: 1vh;
    height: 2000vh;
    top: 1031vh;
    width: 2000vh;
  }
  to {
    border-width: var(--emergence-1-non-being-line-thickness);
    height: calc(var(--emergence-1-sphere-spacing) * 2);
    top: var(--emergence-1-top);
    width: calc(var(--emergence-1-sphere-spacing) * 2);
  }
}

#tree-anim.emergence-1 .non-being.without-limit svg {
  font-size: var(--emergence-1-non-being-00-font-size);
  height: calc(var(--emergence-1-sphere-spacing) * 2.25);
  width: calc(var(--emergence-1-sphere-spacing) * 2.25);
}
#tree-anim.emergence-1.transition-from-emergence-000 .non-being.without-limit svg {
  animation:
    transition-1-from-000-without-limit-svg-size var(--transition-duration) linear,
    transition-1-from-000-without-limit-svg-font-size var(--transition-duration) linear;
}
@keyframes transition-1-from-000-without-limit-svg-size {
  from {
    height: 2802vh;
    width: 2802vh;
  }
  to {
    height: calc(var(--emergence-1-sphere-spacing) * 2.25);
    width: calc(var(--emergence-1-sphere-spacing) * 2.25);
  }
}
@keyframes transition-1-from-000-without-limit-svg-font-size {
  /* 0.009 + (-0.0096)/(x - 1.023) */
  0% {
    font-size: 0.018em;
  }
  50% {
    font-size: 0.0274em
  }
  60% {
    font-size: 0.0317em
  }
  70% {
    font-size: 0.0387em
  }
  80% {
    font-size: 0.0520em
  }
  85% {
    font-size: 0.0645em
  }
  90% {
    font-size: 0.0870em
  }
  93% {
    font-size: 0.1122em
  }
  95% {
    font-size: 0.1405em
  }
  96% {
    font-size: 0.1614em
  }
  97% {
    font-size: 0.1901em
  }
  98% {
    font-size: 0.2323em
  }
  99% {
    font-size: 0.2999em
  }
  99.5% {
    font-size: 0.3519em
  }
  100% {
    font-size: var(--emergence-1-non-being-00-font-size)
  }
}

#tree-anim.emergence-1 .non-being.all-possibility {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-1-non-being-line-thickness);
  height: calc(var(--emergence-1-sphere-spacing) + var(--emergence-1-sphere-diameter) * 0.5);
  width: calc(var(--emergence-1-sphere-spacing) + var(--emergence-1-sphere-diameter) * 0.5);
}
#tree-anim.emergence-1.transition-from-emergence-000 .non-being.all-possibility {
  animation: transition-1-from-000-all-possibility var(--transition-duration) linear;
}
@keyframes transition-1-from-000-all-possibility {
  from {
    border-width: 1vh;
    height: 2000vh;
    top: 1064vh;
    width: 2000vh;
  }
  to {
    border-width: var(--emergence-1-non-being-line-thickness);
    height: calc(var(--emergence-1-sphere-spacing) + var(--emergence-1-sphere-diameter) * 0.5);
    top: var(--emergence-1-top);
    width: calc(var(--emergence-1-sphere-spacing) + var(--emergence-1-sphere-diameter) * 0.5);
  }
}

#tree-anim.emergence-1 .non-being.all-possibility svg {
  font-size: var(--emergence-1-non-being-000-font-size);
  height: calc((var(--emergence-1-sphere-spacing) * 0.95 + var(--emergence-1-sphere-diameter) * 0.5));
  width: calc((var(--emergence-1-sphere-spacing) * 0.95 + var(--emergence-1-sphere-diameter) * 0.5));
}
#tree-anim.emergence-1.transition-from-emergence-000 .non-being.all-possibility svg {
  animation:
    transition-1-from-000-all-possibility-svg-size var(--transition-duration) linear,
    transition-1-from-000-all-possibility-svg-font-size var(--transition-duration) linear;
}
@keyframes transition-1-from-000-all-possibility-svg-size {
  from {
    height: 2802vh;
    width: 2802vh;
  }
  to {
    height: calc((var(--emergence-1-sphere-spacing) * 0.95 + var(--emergence-1-sphere-diameter) * 0.5));
    width: calc((var(--emergence-1-sphere-spacing) * 0.95 + var(--emergence-1-sphere-diameter) * 0.5));
  }
}
@keyframes transition-1-from-000-all-possibility-svg-font-size {
  /* 0.005 + (-0.0116)/(x - 1.015) */
  0% {
    font-size: 0.018em;
  }
  50% {
    font-size: 0.0275em
  }
  60% {
    font-size: 0.0330em
  }
  70% {
    font-size: 0.0418em
  }
  80% {
    font-size: 0.0590em
  }
  85% {
    font-size: 0.0753em
  }
  90% {
    font-size: 0.1059em
  }
  93% {
    font-size: 0.1415em
  }
  95% {
    font-size: 0.1835em
  }
  96% {
    font-size: 0.2159em
  }
  97% {
    font-size: 0.2628em
  }
  98% {
    font-size: 0.3364em
  }
  99% {
    font-size: 0.469em
  }
  99.5% {
    font-size: 0.5850em
  }
  100% {
    font-size: var(--emergence-1-non-being-000-font-size)
  }
}

#tree-anim.emergence-1 .sphere {
  box-shadow: var(--emergence-1-sphere-shadow);
  height: var(--emergence-1-sphere-diameter);
  width: var(--emergence-1-sphere-diameter);
}

#tree-anim.emergence-1 .sphere .name {
  font-size: var(--emergence-1-sphere-name-font-size);
}

#tree-anim.emergence-1 .sphere .number {
  font-size: var(--emergence-1-sphere-number-font-size);
}

#tree-anim.emergence-1 .sphere .symbol {
  font-size: var(--emergence-1-sphere-symbol-font-size);
}

#tree-anim.emergence-1 .sphere.sphere-1 {
  display: block;
  top: var(--emergence-1-top);
  left: 50%;
}
#tree-anim.emergence-1.transition-from-emergence-000 .sphere.sphere-1 {
  animation: transition-1-from-000-sphere-1 var(--transition-duration) ease-out;
}
@keyframes transition-1-from-000-sphere-1 {
  from {
    top: 1000vh;
  }
  to {
    top: var(--emergence-1-top);
  }
}

#tree-anim.emergence-1 .sphere.sphere-1 .symbol.fire {
  color: var(--color-red);
  display: block;
}

#tree-anim.emergence-1 .text.emergence-1 {
  display: block;
}

#tree-anim.emergence-1.transition-from-emergence-000 .text.emergence-1 {
  animation: fade-in calc(var(--transition-duration) / 2);
  animation-delay: calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
}

#tree-anim.emergence-1.transition-from-emergence-000 .text.emergence-000 {
  animation: fade-out calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
  display: block;
}
