/* emergence-10x */
:root {
  --emergence-10x-non-being-0-font-size: 0.31em;
  --emergence-10x-non-being-00-font-size: 0.43em;
  --emergence-10x-non-being-000-font-size: 0.8em;
  --emergence-10x-non-being-line-thickness: 0.28em;
  --emergence-10x-path-font-size: calc(var(--emergence-10x-path-width) * 0.65);
  --emergence-10x-path-shadow: 0 0 0.4vh 0.2vh var(--color-darker);
  --emergence-10x-path-width: calc(var(--emergence-10x-sphere-diameter) * 0.28);
  --emergence-10x-sphere-diameter: 9.5vh;
  --emergence-10x-sphere-horizontal-offset: calc(var(--emergence-10x-sphere-spacing) * 0.866);
  --emergence-10x-sphere-name-font-size: calc(var(--emergence-10x-sphere-diameter) * 0.2);
  --emergence-10x-sphere-number-font-size: calc(var(--emergence-10x-sphere-diameter) * 0.22);
  --emergence-10x-sphere-shadow: 0 0 0.6vh 0.3vh var(--color-darker);
  --emergence-10x-sphere-spacing: calc(var(--emergence-10x-sphere-diameter) * 1.8);
  --emergence-10x-sphere-symbol-font-size: calc(var(--emergence-10x-sphere-diameter) * 0.4);
  --emergence-10x-top: calc(var(--emergence-10x-sphere-diameter) * 2.3);
}

#tree-anim.emergence-10x .non-being {
  display: block;
  top: var(--emergence-10x-top);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .non-being {
  animation: transition-10x-from-9x-non-being var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-non-being {
  from {
    top: var(--emergence-9x-top);
  } to {
    top: var(--emergence-10x-top);
  }
}

#tree-anim.emergence-10x .non-being.nothing svg {
  font-size: var(--emergence-10x-non-being-0-font-size);
  height: calc(var(--emergence-10x-sphere-spacing) * 3.2);
  width: calc(var(--emergence-10x-sphere-spacing) * 3.2);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .non-being.nothing svg {
  animation: transition-10x-from-9x-non-being-nothing-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-non-being-nothing-svg {
  from {
    font-size: var(--emergence-9x-non-being-0-font-size);
    height: calc(var(--emergence-9x-sphere-spacing) * 3.2);
    width: calc(var(--emergence-9x-sphere-spacing) * 3.2);
  } to {
    font-size: var(--emergence-10x-non-being-0-font-size);
    height: calc(var(--emergence-10x-sphere-spacing) * 3.2);
    width: calc(var(--emergence-10x-sphere-spacing) * 3.2);
  }
}

#tree-anim.emergence-10x .non-being.without-limit {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-10x-non-being-line-thickness);
  height: calc(var(--emergence-10x-sphere-spacing) * 2);
  width: calc(var(--emergence-10x-sphere-spacing) * 2);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .non-being.without-limit {
  animation: transition-10x-from-9x-non-being-without-limit var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-non-being-without-limit {
  from {
    border-width: var(--emergence-9x-non-being-line-thickness);
    height: calc(var(--emergence-9x-sphere-spacing) * 2);
    top: var(--emergence-9x-top);
    width: calc(var(--emergence-9x-sphere-spacing) * 2);
  } to {
    border-width: var(--emergence-10x-non-being-line-thickness);
    height: calc(var(--emergence-10x-sphere-spacing) * 2);
    top: var(--emergence-10x-top);
    width: calc(var(--emergence-10x-sphere-spacing) * 2);
  }
}

#tree-anim.emergence-10x .non-being.without-limit svg {
  font-size: var(--emergence-10x-non-being-00-font-size);
  height: calc(var(--emergence-10x-sphere-spacing) * 2.25);
  width: calc(var(--emergence-10x-sphere-spacing) * 2.25);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .non-being.without-limit svg {
  animation: transition-10x-from-9x-non-being-without-limit-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-non-being-without-limit-svg {
  from {
    font-size: var(--emergence-9x-non-being-00-font-size);
    height: calc(var(--emergence-9x-sphere-spacing) * 2.25);
    width: calc(var(--emergence-9x-sphere-spacing) * 2.25);
  } to {
    font-size: var(--emergence-10x-non-being-00-font-size);
    height: calc(var(--emergence-10x-sphere-spacing) * 2.25);
    width: calc(var(--emergence-10x-sphere-spacing) * 2.25);
  }
}

#tree-anim.emergence-10x .non-being.all-possibility {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-10x-non-being-line-thickness);
  height: calc(var(--emergence-10x-sphere-spacing) + var(--emergence-10x-sphere-diameter) * 0.5);
  width: calc(var(--emergence-10x-sphere-spacing) + var(--emergence-10x-sphere-diameter) * 0.5);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .non-being.all-possibility {
  animation: transition-10x-from-9x-non-being-all-possibility var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-non-being-all-possibility {
  from {
    border-width: var(--emergence-9x-non-being-line-thickness);
    height: calc(var(--emergence-9x-sphere-spacing) + var(--emergence-9x-sphere-diameter) * 0.5);
    top: var(--emergence-9x-top);
    width: calc(var(--emergence-9x-sphere-spacing) + var(--emergence-9x-sphere-diameter) * 0.5);
  } to {
    border-width: var(--emergence-10x-non-being-line-thickness);
    height: calc(var(--emergence-10x-sphere-spacing) + var(--emergence-10x-sphere-diameter) * 0.5);
    top: var(--emergence-10x-top);
    width: calc(var(--emergence-10x-sphere-spacing) + var(--emergence-10x-sphere-diameter) * 0.5);
  }
}

#tree-anim.emergence-10x .non-being.all-possibility svg {
  font-size: var(--emergence-10x-non-being-000-font-size);
  height: calc((var(--emergence-10x-sphere-spacing) * 0.91 + var(--emergence-10x-sphere-diameter) * 0.5));
  width: calc((var(--emergence-10x-sphere-spacing) * 0.91 + var(--emergence-10x-sphere-diameter) * 0.5));
}
#tree-anim.emergence-10x.transition-from-emergence-9x .non-being.all-possibility svg {
  animation: transition-10x-from-9x-non-being-all-possibility-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-non-being-all-possibility-svg {
  from {
    font-size: var(--emergence-9x-non-being-000-font-size);
    height: calc((var(--emergence-9x-sphere-spacing) * 0.91 + var(--emergence-9x-sphere-diameter) * 0.5));
    width: calc((var(--emergence-9x-sphere-spacing) * 0.91 + var(--emergence-9x-sphere-diameter) * 0.5));
  } to {
    font-size: var(--emergence-10x-non-being-000-font-size);
    height: calc((var(--emergence-10x-sphere-spacing) * 0.91 + var(--emergence-10x-sphere-diameter) * 0.5));
    width: calc((var(--emergence-10x-sphere-spacing) * 0.91 + var(--emergence-10x-sphere-diameter) * 0.5));
  }
}

#tree-anim.emergence-10x .non-being-arc-hider {
  display: block;
  height: calc(1.5 * var(--emergence-10x-sphere-spacing));
  top: calc(var(--emergence-10x-top) + 0.8 * var(--emergence-10x-sphere-spacing));
  width: calc(1.5 * var(--emergence-10x-sphere-spacing));
}
#tree-anim.emergence-10x.transition-from-emergence-9x .non-being-arc-hider {
  animation: transition-10x-from-9x-non-being-arc-hider var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-non-being-arc-hider {
  from {
    height: calc(1.5 * var(--emergence-9x-sphere-spacing));
    top: calc(var(--emergence-9x-top) + 0.8 * var(--emergence-9x-sphere-spacing));
    width: calc(1.5 * var(--emergence-9x-sphere-spacing));
  } to {
    height: calc(1.5 * var(--emergence-10x-sphere-spacing));
    top: calc(var(--emergence-10x-top) + 0.8 * var(--emergence-10x-sphere-spacing));
    width: calc(1.5 * var(--emergence-10x-sphere-spacing));
  }
}

#tree-anim.emergence-10x .sphere {
  box-shadow: var(--emergence-10x-sphere-shadow);
  box-sizing: border-box;
  height: var(--emergence-10x-sphere-diameter);
  width: var(--emergence-10x-sphere-diameter);
}

#tree-anim.emergence-10x .sphere .name {
  font-size: var(--emergence-10x-sphere-name-font-size);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere .name {
  animation: transition-10x-from-9x-sphere-name var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-name {
  from {
    font-size: var(--emergence-9x-sphere-name-font-size);
  } to {
    font-size: var(--emergence-10x-sphere-name-font-size);
  }
}

#tree-anim.emergence-10x .sphere .number {
  font-size: var(--emergence-10x-sphere-number-font-size);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere .number {
  animation: transition-10x-from-9x-sphere-number var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-number {
  from {
    font-size: var(--emergence-9x-sphere-number-font-size);
  } to {
    font-size: var(--emergence-10x-sphere-number-font-size);
  }
}

#tree-anim.emergence-10x .sphere .symbol {
  font-weight: bold;
  font-size: var(--emergence-10x-sphere-symbol-font-size);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere .symbol {
  animation: transition-10x-from-9x-sphere-symbol var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-symbol {
  from {
    font-size: var(--emergence-9x-sphere-symbol-font-size);
  } to {
    font-size: var(--emergence-10x-sphere-symbol-font-size);
  }
}

#tree-anim.emergence-10x .sphere.sphere-1 {
  display: block;
  top: var(--emergence-10x-top);
  left: 50%;
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere.sphere-1 {
  animation: transition-10x-from-9x-sphere-1 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-1 {
  from {
    height: var(--emergence-9x-sphere-diameter);
    top: var(--emergence-9x-top);
    width: var(--emergence-9x-sphere-diameter);
  } to {
    height: var(--emergence-10x-sphere-diameter);
    top: var(--emergence-10x-top);
    width: var(--emergence-10x-sphere-diameter);
  }
}
#tree-anim.emergence-10x .sphere.sphere-1 .symbol.chaos {
  display: block;
  fill: var(--color-magenta);
}

#tree-anim.emergence-10x .sphere.sphere-2 {
  display: block;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) / 2);
  left: calc(50% - var(--emergence-10x-sphere-horizontal-offset));
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere.sphere-2 {
  animation: transition-10x-from-9x-sphere-2 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-2 {
  from {
    height: var(--emergence-9x-sphere-diameter);
    left: calc(50% - var(--emergence-9x-sphere-horizontal-offset));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) / 2);
    width: var(--emergence-9x-sphere-diameter);
  } to {
    height: var(--emergence-10x-sphere-diameter);
    left: calc(50% - var(--emergence-10x-sphere-horizontal-offset));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) / 2);
    width: var(--emergence-10x-sphere-diameter);
  }
}
#tree-anim.emergence-10x .sphere.sphere-2 .symbol.water {
  color: var(--color-blue);
  display: block;
}

#tree-anim.emergence-10x .sphere.sphere-3 {
  display: block;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) / 2);
  left: calc(50% + var(--emergence-10x-sphere-horizontal-offset));
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere.sphere-3 {
  animation: transition-10x-from-9x-sphere-3 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-3 {
  from {
    height: var(--emergence-9x-sphere-diameter);
    left: calc(50% + var(--emergence-9x-sphere-horizontal-offset));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) / 2);
    width: var(--emergence-9x-sphere-diameter);
  } to {
    height: var(--emergence-10x-sphere-diameter);
    left: calc(50% + var(--emergence-10x-sphere-horizontal-offset));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) / 2);
    width: var(--emergence-10x-sphere-diameter);
  }
}
#tree-anim.emergence-10x .sphere.sphere-3 .symbol.air {
  color: var(--color-yellow);
  display: block;
}

#tree-anim.emergence-10x .sphere.sphere-4 {
  display: block;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.5);
  left: calc(50% + var(--emergence-10x-sphere-horizontal-offset));
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere.sphere-4 {
  animation: transition-10x-from-9x-sphere-4 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-4 {
  from {
    height: var(--emergence-9x-sphere-diameter);
    left: calc(50% + var(--emergence-9x-sphere-horizontal-offset));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 1.5);
    width: var(--emergence-9x-sphere-diameter);
  } to {
    height: var(--emergence-10x-sphere-diameter);
    left: calc(50% + var(--emergence-10x-sphere-horizontal-offset));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.5);
    width: var(--emergence-10x-sphere-diameter);
  }
}
#tree-anim.emergence-10x .sphere.sphere-4 .symbol.earth {
  color: var(--color-green);
  display: block;
}

#tree-anim.emergence-10x .sphere.sphere-5 {
  display: block;
  top: calc(
    var(--emergence-10x-top) +
    var(--emergence-10x-sphere-spacing) * 1.5
  );
  left: calc(50% - var(--emergence-10x-sphere-horizontal-offset));
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere.sphere-5 {
  animation: transition-10x-from-9x-sphere-5 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-5 {
  from {
    height: var(--emergence-9x-sphere-diameter);
    left: calc(50% - var(--emergence-9x-sphere-horizontal-offset));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 1.5);
    width: var(--emergence-9x-sphere-diameter);
  } to {
    height: var(--emergence-10x-sphere-diameter);
    left: calc(50% - var(--emergence-10x-sphere-horizontal-offset));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.5);
    width: var(--emergence-10x-sphere-diameter);
  }
}
#tree-anim.emergence-10x .sphere.sphere-5 .symbol.fire {
  color: var(--color-red);
  display: block;
}

#tree-anim.emergence-10x .sphere.sphere-6 {
  display: block;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2);
  left: 50%;
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere.sphere-6 {
  animation: transition-10x-from-9x-sphere-6 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-6 {
  from {
    height: var(--emergence-9x-sphere-diameter);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2);
    width: var(--emergence-9x-sphere-diameter);
  } to {
    height: var(--emergence-10x-sphere-diameter);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2);
    width: var(--emergence-10x-sphere-diameter);
  }
}
#tree-anim.emergence-10x .sphere.sphere-6 .symbol.hexagram {
  display: block;
  fill: var(--color-cyan);
}

#tree-anim.emergence-10x .sphere.sphere-7 {
  display: block;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.5);
  left: calc(50% + var(--emergence-10x-sphere-horizontal-offset));
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere.sphere-7 {
  animation: transition-10x-from-9x-sphere-7 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-7 {
  from {
    height: var(--emergence-9x-sphere-diameter);
    left: calc(50% + var(--emergence-9x-sphere-horizontal-offset));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2.5);
    width: var(--emergence-9x-sphere-diameter);
  } to {
    height: var(--emergence-10x-sphere-diameter);
    left: calc(50% + var(--emergence-10x-sphere-horizontal-offset));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.5);
    width: var(--emergence-10x-sphere-diameter);
  }
}

#tree-anim.emergence-10x .sphere.sphere-8 {
  display: block;
  top: calc(
    var(--emergence-10x-top) +
    var(--emergence-10x-sphere-spacing) * 2.5
  );
  left: calc(50% - var(--emergence-10x-sphere-horizontal-offset));
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere.sphere-8 {
  animation: transition-10x-from-9x-sphere-8 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-8 {
  from {
    height: var(--emergence-9x-sphere-diameter);
    left: calc(50% - var(--emergence-9x-sphere-horizontal-offset));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2.5);
    width: var(--emergence-9x-sphere-diameter);
  } to {
    height: var(--emergence-10x-sphere-diameter);
    left: calc(50% - var(--emergence-10x-sphere-horizontal-offset));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.5);
    width: var(--emergence-10x-sphere-diameter);
  }
}

#tree-anim.emergence-10x .sphere.sphere-9 {
  display: block;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 3);
  left: 50%;
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere.sphere-9 {
  animation: transition-10x-from-9x-sphere-9 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-9 {
  from {
    height: var(--emergence-9x-sphere-diameter);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 3);
    width: var(--emergence-9x-sphere-diameter);
  } to {
    height: var(--emergence-10x-sphere-diameter);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 3);
    width: var(--emergence-10x-sphere-diameter);
  }
}

#tree-anim.emergence-10x .sphere.sphere-10 {
  display: block;
  top: calc(
    var(--emergence-10x-top) +
    var(--emergence-10x-sphere-spacing) * 4
  );
  left: 50%;
}
#tree-anim.emergence-10x.transition-from-emergence-9x .sphere.sphere-10 {
  animation: transition-10x-from-9x-sphere-10 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-sphere-10 {
  from {
    height: var(--emergence-9x-sphere-diameter);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 3);
    width: var(--emergence-9x-sphere-diameter);
  } to {
    height: var(--emergence-10x-sphere-diameter);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 4);
    width: var(--emergence-10x-sphere-diameter);
  }
}

#tree-anim.emergence-10x .path {
  box-shadow: var(--emergence-10x-path-shadow);
  font-size: var(--emergence-10x-path-font-size);
  width: var(--emergence-10x-path-width);
}

#tree-anim.emergence-10x .path.path-0 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(60deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-0 {
  animation: transition-10x-from-9x-path-0 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-0 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% - var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 0.25);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 0.25);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-0 .number {
  transform: translate(-50%, -50%) rotate(-60deg);
}

#tree-anim.emergence-10x .path.path-1 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(-60deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-1 {
  animation: transition-10x-from-9x-path-1 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-1 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% + var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 0.25);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 0.25);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-1 .number {
  transform: translate(-50%, -50%) rotate(60deg);
}

#tree-anim.emergence-10x .path.path-2 {
  display: block;
  height: calc(var(--emergence-10x-sphere-horizontal-offset) * 2);
  left: 50%;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 0.5);
  transform: translate(-50%, -50%) rotate(90deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-2 {
  animation: transition-10x-from-9x-path-2 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-2 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: calc(var(--emergence-9x-sphere-horizontal-offset) * 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 0.5);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: calc(var(--emergence-10x-sphere-horizontal-offset) * 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 0.5);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-2 .number {
  transform: translate(-50%, -50%) rotate(-90deg);
}

#tree-anim.emergence-10x .path.path-3 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.75);
  transform: translate(-50%, -50%) rotate(240deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-3 {
  animation: transition-10x-from-9x-path-3 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-3 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% + var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 1.75);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.75);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-3 .number {
  transform: translate(-50%, -50%) rotate(-240deg);
}

#tree-anim.emergence-10x .path.path-4 {
  display: block;
  height: calc(2 * var(--emergence-10x-sphere-spacing));
  left: 50%;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing));
  transform: translate(-50%, -50%) rotate(-60deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-4 {
  animation: transition-10x-from-9x-path-4 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-4 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: calc(2 * var(--emergence-9x-sphere-spacing));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing));
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: calc(2 * var(--emergence-10x-sphere-spacing));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing));
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-4 .number {
  top: 30%;
  transform: translate(-50%, -50%) rotate(60deg);
}

#tree-anim.emergence-10x .path.path-5 {
  display: block;
  height: calc(2 * var(--emergence-10x-sphere-spacing));
  left: 50%;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing));
  transform: translate(-50%, -50%) rotate(60deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-5 {
  animation: transition-10x-from-9x-path-5 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-5 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: calc(2 * var(--emergence-9x-sphere-spacing));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing));
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: calc(2 * var(--emergence-10x-sphere-spacing));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing));
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-5 .number {
  top: 30%;
  transform: translate(-50%, -50%) rotate(-60deg);
}

#tree-anim.emergence-10x .path.path-6 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.75);
  transform: translate(-50%, -50%) rotate(-240deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-6 {
  animation: transition-10x-from-9x-path-6 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-6 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% - var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 1.75);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.75);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-6 .number {
  transform: translate(-50%, -50%) rotate(240deg);
}

#tree-anim.emergence-10x .path.path-7 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.5);
  transform: translate(-50%, -50%) rotate(90deg);
  height: calc(var(--emergence-10x-sphere-horizontal-offset) * 2);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-7 {
  animation: transition-10x-from-9x-path-7 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-7 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: calc(var(--emergence-9x-sphere-horizontal-offset) * 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 1.5);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: calc(var(--emergence-10x-sphere-horizontal-offset) * 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.5);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-7 .number {
  transform: translate(-50%, -50%) rotate(-90deg);
}

#tree-anim.emergence-10x .path.path-8 {
  display: block;
  height: calc(2 * var(--emergence-10x-sphere-spacing));
  left: 50%;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing));
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-8 {
  animation: transition-10x-from-9x-path-8 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-8 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: calc(2 * var(--emergence-9x-sphere-spacing));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing));
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: calc(2 * var(--emergence-10x-sphere-spacing));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing));
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-9 {
  display: block;
  height: calc(var(--emergence-10x-sphere-spacing) * 1.5);
  left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.25);
  transform: translate(-50%, -50%) rotate(150deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-9 {
  animation: transition-10x-from-9x-path-9 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-9 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: calc(var(--emergence-9x-sphere-spacing) * 1.5);
    left: calc(50% - var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 1.25);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: calc(var(--emergence-10x-sphere-spacing) * 1.5);
    left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.25);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-9 .number {
  top: 65%;
  transform: translate(-50%, -50%) rotate(-150deg);
}

#tree-anim.emergence-10x .path.path-10 {
  display: block;
  height: calc(var(--emergence-10x-sphere-spacing) * 1.5);
  left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.25);
  transform: translate(-50%, -50%) rotate(-150deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-10 {
  animation: transition-10x-from-9x-path-10 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-10 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: calc(var(--emergence-9x-sphere-spacing) * 1.5);
    left: calc(50% + var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 1.25);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: calc(var(--emergence-10x-sphere-spacing) * 1.5);
    left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 1.25);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-10 .number {
  top: 65%;
  transform: translate(-50%, -50%) rotate(150deg);
}

#tree-anim.emergence-10x .path.path-11 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.25);
  transform: translate(-50%, -50%) rotate(-60deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-11 {
  animation: transition-10x-from-9x-path-11 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-11 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% + var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2.25);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.25);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-11 .number {
  transform: translate(-50%, -50%) rotate(60deg);
}

#tree-anim.emergence-10x .path.path-12 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: calc(50% + var(--emergence-10x-sphere-horizontal-offset));
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-12 {
  animation: transition-10x-from-9x-path-12 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-12 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% + var(--emergence-9x-sphere-horizontal-offset));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    left: calc(50% + var(--emergence-10x-sphere-horizontal-offset));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-13 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: calc(50% - var(--emergence-10x-sphere-horizontal-offset));
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-13 {
  animation: transition-10x-from-9x-path-13 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-13 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% - var(--emergence-9x-sphere-horizontal-offset));
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    left: calc(50% - var(--emergence-10x-sphere-horizontal-offset));
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-14 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.25);
  transform: translate(-50%, -50%) rotate(60deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-14 {
  animation: transition-10x-from-9x-path-14 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-14 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% - var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2.25);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.25);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-14 .number {
  transform: translate(-50%, -50%) rotate(-60deg);
}

#tree-anim.emergence-10x .path.path-15 {
  display: block;
  height: calc(var(--emergence-10x-sphere-horizontal-offset) * 2);
  left: 50%;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.5);
  transform: translate(-50%, -50%) rotate(90deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-15 {
  animation: transition-10x-from-9x-path-15 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-15 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: calc(var(--emergence-9x-sphere-horizontal-offset) * 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2.5);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: calc(var(--emergence-10x-sphere-horizontal-offset) * 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.5);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-15 .number {
  top: 68%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

#tree-anim.emergence-10x .path.path-16 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: 50%;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.5);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-16 {
  animation: transition-10x-from-9x-path-16 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-16 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2.5);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.5);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-17 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.75);
  transform: translate(-50%, -50%) rotate(60deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-17 {
  animation: transition-10x-from-9x-path-17 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-17 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% + var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2.75);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.75);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-17 .number {
  transform: translate(-50%, -50%) rotate(-60deg);
}

#tree-anim.emergence-10x .path.path-18 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.75);
  transform: translate(-50%, -50%) rotate(-60deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-18 {
  animation: transition-10x-from-9x-path-18 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-18 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% - var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2.75);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 2.75);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-18 .number {
  transform: translate(-50%, -50%) rotate(60deg);
}

#tree-anim.emergence-10x .path.path-19 {
  display: block;
  height: var(--emergence-10x-sphere-spacing);
  left: 50%;
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 3.5);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-19 {
  animation: transition-10x-from-9x-path-19 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-19 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: 0;
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 3);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: var(--emergence-10x-sphere-spacing);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 3.5);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-20 {
  display: block;
  height: calc(var(--emergence-10x-sphere-spacing) * 1.5);
  left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 3.25);
  transform: translate(-50%, -50%) rotate(30deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-20 {
  animation: transition-10x-from-9x-path-20 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-20 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% + var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2.75);
    transform: translate(-50%, -50%) rotate(60deg);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: calc(var(--emergence-10x-sphere-spacing) * 1.5);
    left: calc(50% + var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 3.25);
    transform: translate(-50%, -50%) rotate(30deg);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-20 .number {
  transform: translate(-50%, -50%) rotate(-30deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-20 .number {
  animation: transition-10x-from-9x-path-20-number var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-20-number {
  from {
    transform: translate(-50%, -50%) rotate(-60deg);
  } to {
    transform: translate(-50%, -50%) rotate(-30deg);
  }
}

#tree-anim.emergence-10x .path.path-21 {
  display: block;
  height: calc(var(--emergence-10x-sphere-spacing) * 1.5);
  left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 3.25);
  transform: translate(-50%, -50%) rotate(-30deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-21 {
  animation: transition-10x-from-9x-path-21 var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-21 {
  from {
    box-shadow: var(--emergence-9x-path-shadow);
    font-size: var(--emergence-9x-path-font-size);
    height: var(--emergence-9x-sphere-spacing);
    left: calc(50% - var(--emergence-9x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-9x-top) + var(--emergence-9x-sphere-spacing) * 2.75);
    transform: translate(-50%, -50%) rotate(-60deg);
    width: var(--emergence-9x-path-width);
  } to {
    box-shadow: var(--emergence-10x-path-shadow);
    font-size: var(--emergence-10x-path-font-size);
    height: calc(var(--emergence-10x-sphere-spacing) * 1.5);
    left: calc(50% - var(--emergence-10x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-10x-top) + var(--emergence-10x-sphere-spacing) * 3.25);
    transform: translate(-50%, -50%) rotate(-30deg);
    width: var(--emergence-10x-path-width);
  }
}

#tree-anim.emergence-10x .path.path-21 .number {
  transform: translate(-50%, -50%) rotate(30deg);
}
#tree-anim.emergence-10x.transition-from-emergence-9x .path.path-21 .number {
  animation: transition-10x-from-9x-path-21-number var(--transition-duration) ease-in-out;
}
@keyframes transition-10x-from-9x-path-21-number {
  from {
    transform: translate(-50%, -50%) rotate(60deg);
  } to {
    transform: translate(-50%, -50%) rotate(30deg);
  }
}

#tree-anim.emergence-10x .text.emergence-10x {
  display: block;
}
#tree-anim.emergence-10x.transition-from-emergence-9x .text.emergence-10x {
  animation: fade-in calc(var(--transition-duration) / 2);
  animation-delay: calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
}
#tree-anim.emergence-10x.transition-from-emergence-9x .text.emergence-9x {
  animation: fade-out calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
  display: block;
}
