/* emergence-7-fools-journey */
:root {
  --emergence-7-fools-journey-non-being-0-font-size: 0.31em;
  --emergence-7-fools-journey-non-being-00-font-size: 0.43em;
  --emergence-7-fools-journey-non-being-000-font-size: 0.8em;
  --emergence-7-fools-journey-non-being-line-thickness: 0.28em;
  --emergence-7-fools-journey-path-font-size: calc(var(--emergence-7-fools-journey-path-width) * 0.65);
  --emergence-7-fools-journey-path-shadow: 0 0 0.4vh 0.2vh var(--color-darker);
  --emergence-7-fools-journey-path-width: calc(var(--emergence-7-fools-journey-sphere-diameter) * 0.28);
  --emergence-7-fools-journey-sphere-diameter: 11.4vh;
  --emergence-7-fools-journey-sphere-horizontal-offset: calc(var(--emergence-7-fools-journey-sphere-spacing) * 0.866);
  --emergence-7-fools-journey-sphere-name-font-size: calc(var(--emergence-7-fools-journey-sphere-diameter) * 0.2);
  --emergence-7-fools-journey-sphere-number-font-size: calc(var(--emergence-7-fools-journey-sphere-diameter) * 0.22);
  --emergence-7-fools-journey-sphere-shadow: 0 0 0.6vh 0.3vh var(--color-darker);
  --emergence-7-fools-journey-sphere-spacing: calc(var(--emergence-7-fools-journey-sphere-diameter) * 1.8);
  --emergence-7-fools-journey-sphere-symbol-font-size: calc(var(--emergence-7-fools-journey-sphere-diameter) * 0.4);
  --emergence-7-fools-journey-top: calc(var(--emergence-7-fools-journey-sphere-diameter) * 2.4);
}

#tree-anim.emergence-7-fools-journey .non-being {
  display: block;
  top: var(--emergence-7-fools-journey-top);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .non-being {
  animation: transition-7-from-6x-non-being var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-non-being {
  from {
    top: var(--emergence-6x-top);
  } to {
    top: var(--emergence-7-fools-journey-top);
  }
}

#tree-anim.emergence-7-fools-journey .non-being.nothing svg {
  font-size: var(--emergence-7-fools-journey-non-being-0-font-size);
  height: calc(var(--emergence-7-fools-journey-sphere-spacing) * 3.2);
  width: calc(var(--emergence-7-fools-journey-sphere-spacing) * 3.2);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .non-being.nothing svg {
  animation: transition-7-from-6x-non-being-nothing-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-non-being-nothing-svg {
  from {
    font-size: var(--emergence-6x-non-being-0-font-size);
    height: calc(var(--emergence-6x-sphere-spacing) * 3.2);
    width: calc(var(--emergence-6x-sphere-spacing) * 3.2);
  } to {
    font-size: var(--emergence-7-fools-journey-non-being-0-font-size);
    height: calc(var(--emergence-7-fools-journey-sphere-spacing) * 3.2);
    width: calc(var(--emergence-7-fools-journey-sphere-spacing) * 3.2);
  }
}

#tree-anim.emergence-7-fools-journey .non-being.without-limit {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-7-fools-journey-non-being-line-thickness);
  height: calc(var(--emergence-7-fools-journey-sphere-spacing) * 2);
  width: calc(var(--emergence-7-fools-journey-sphere-spacing) * 2);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .non-being.without-limit {
  animation: transition-7-from-6x-non-being-without-limit var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-non-being-without-limit {
  from {
    border-width: var(--emergence-6x-non-being-line-thickness);
    height: calc(var(--emergence-6x-sphere-spacing) * 2);
    top: var(--emergence-6x-top);
    width: calc(var(--emergence-6x-sphere-spacing) * 2);
  } to {
    border-width: var(--emergence-7-fools-journey-non-being-line-thickness);
    height: calc(var(--emergence-7-fools-journey-sphere-spacing) * 2);
    top: var(--emergence-7-fools-journey-top);
    width: calc(var(--emergence-7-fools-journey-sphere-spacing) * 2);
  }
}

#tree-anim.emergence-7-fools-journey .non-being.without-limit svg {
  font-size: var(--emergence-7-fools-journey-non-being-00-font-size);
  height: calc(var(--emergence-7-fools-journey-sphere-spacing) * 2.25);
  width: calc(var(--emergence-7-fools-journey-sphere-spacing) * 2.25);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .non-being.without-limit svg {
  animation: transition-7-from-6x-non-being-without-limit-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-non-being-without-limit-svg {
  from {
    font-size: var(--emergence-6x-non-being-00-font-size);
    height: calc(var(--emergence-6x-sphere-spacing) * 2.25);
    width: calc(var(--emergence-6x-sphere-spacing) * 2.25);
  } to {
    font-size: var(--emergence-7-fools-journey-non-being-00-font-size);
    height: calc(var(--emergence-7-fools-journey-sphere-spacing) * 2.25);
    width: calc(var(--emergence-7-fools-journey-sphere-spacing) * 2.25);
  }
}

#tree-anim.emergence-7-fools-journey .non-being.all-possibility {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-7-fools-journey-non-being-line-thickness);
  height: calc(var(--emergence-7-fools-journey-sphere-spacing) + var(--emergence-7-fools-journey-sphere-diameter) * 0.5);
  width: calc(var(--emergence-7-fools-journey-sphere-spacing) + var(--emergence-7-fools-journey-sphere-diameter) * 0.5);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .non-being.all-possibility {
  animation: transition-7-from-6x-non-being-all-possibility var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-non-being-all-possibility {
  from {
    border-width: var(--emergence-6x-non-being-line-thickness);
    height: calc(var(--emergence-6x-sphere-spacing) + var(--emergence-6x-sphere-diameter) * 0.5);
    top: var(--emergence-6x-top);
    width: calc(var(--emergence-6x-sphere-spacing) + var(--emergence-6x-sphere-diameter) * 0.5);
  } to {
    border-width: var(--emergence-7-fools-journey-non-being-line-thickness);
    height: calc(var(--emergence-7-fools-journey-sphere-spacing) + var(--emergence-7-fools-journey-sphere-diameter) * 0.5);
    top: var(--emergence-7-fools-journey-top);
    width: calc(var(--emergence-7-fools-journey-sphere-spacing) + var(--emergence-7-fools-journey-sphere-diameter) * 0.5);
  }
}

#tree-anim.emergence-7-fools-journey .non-being.all-possibility svg {
  font-size: var(--emergence-7-fools-journey-non-being-000-font-size);
  height: calc((var(--emergence-7-fools-journey-sphere-spacing) * 0.91 + var(--emergence-7-fools-journey-sphere-diameter) * 0.5));
  width: calc((var(--emergence-7-fools-journey-sphere-spacing) * 0.91 + var(--emergence-7-fools-journey-sphere-diameter) * 0.5));
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .non-being.all-possibility svg {
  animation: transition-7-from-6x-non-being-all-possibility-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-non-being-all-possibility-svg {
  from {
    font-size: var(--emergence-6x-non-being-000-font-size);
    height: calc((var(--emergence-6x-sphere-spacing) * 0.91 + var(--emergence-6x-sphere-diameter) * 0.5));
    width: calc((var(--emergence-6x-sphere-spacing) * 0.91 + var(--emergence-6x-sphere-diameter) * 0.5));
  } to {
    font-size: var(--emergence-7-fools-journey-non-being-000-font-size);
    height: calc((var(--emergence-7-fools-journey-sphere-spacing) * 0.91 + var(--emergence-7-fools-journey-sphere-diameter) * 0.5));
    width: calc((var(--emergence-7-fools-journey-sphere-spacing) * 0.91 + var(--emergence-7-fools-journey-sphere-diameter) * 0.5));
  }
}

#tree-anim.emergence-7-fools-journey .non-being-arc-hider {
  display: block;
  height: calc(1.5 * var(--emergence-7-fools-journey-sphere-spacing));
  top: calc(var(--emergence-7-fools-journey-top) + 0.8 * var(--emergence-7-fools-journey-sphere-spacing));
  width: calc(1.5 * var(--emergence-7-fools-journey-sphere-spacing));
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .non-being-arc-hider {
  animation: transition-7-from-6x-non-being-arc-hider var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-non-being-arc-hider {
  from {
    height: calc(1.5 * var(--emergence-6x-sphere-spacing));
    top: calc(var(--emergence-6x-top) + 0.8 * var(--emergence-6x-sphere-spacing));
    width: calc(1.5 * var(--emergence-6x-sphere-spacing));
  } to {
    height: calc(1.5 * var(--emergence-7-fools-journey-sphere-spacing));
    top: calc(var(--emergence-7-fools-journey-top) + 0.8 * var(--emergence-7-fools-journey-sphere-spacing));
    width: calc(1.5 * var(--emergence-7-fools-journey-sphere-spacing));
  }
}

#tree-anim.emergence-7-fools-journey .sphere {
  box-shadow: var(--emergence-7-fools-journey-sphere-shadow);
  box-sizing: border-box;
  height: var(--emergence-7-fools-journey-sphere-diameter);
  width: var(--emergence-7-fools-journey-sphere-diameter);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere {
  animation: transition-7-from-6x-sphere var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere {
  from {
    box-shadow: var(--emergence-6x-sphere-shadow);
    height: var(--emergence-6x-sphere-diameter);
    width: var(--emergence-6x-sphere-diameter);
  } to {
    box-shadow: var(--emergence-7-fools-journey-sphere-shadow);
    height: var(--emergence-7-fools-journey-sphere-diameter);
    width: var(--emergence-7-fools-journey-sphere-diameter);
  }
}

#tree-anim.emergence-7-fools-journey .sphere .name {
  font-size: var(--emergence-7-fools-journey-sphere-name-font-size);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere .name {
  animation: transition-7-from-6x-sphere-name var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere-name {
  from {
    font-size: var(--emergence-6x-sphere-name-font-size);
  } to {
    font-size: var(--emergence-7-fools-journey-sphere-name-font-size);
  }
}

#tree-anim.emergence-7-fools-journey .sphere .number {
  font-size: var(--emergence-7-fools-journey-sphere-number-font-size);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere .number.emergence-number {
  animation: transition-7-from-6x-sphere-number var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere-number {
  from {
    font-size: var(--emergence-6x-sphere-number-font-size);
  } to {
    font-size: var(--emergence-7-fools-journey-sphere-number-font-size);
  }
}

#tree-anim.emergence-7-fools-journey .sphere .symbol {
  font-weight: bold;
  font-size: var(--emergence-7-fools-journey-sphere-symbol-font-size);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere .symbol {
  animation: transition-7-from-6x-sphere-symbol var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere-symbol {
  from {
    font-size: var(--emergence-6x-sphere-symbol-font-size);
  } to {
    font-size: var(--emergence-7-fools-journey-sphere-symbol-font-size);
  }
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-1 {
  display: block;
  top: var(--emergence-7-fools-journey-top);
  left: 50%;
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere.sphere-1 {
  animation: transition-7-from-6x-sphere-sphere-1 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere-sphere-1 {
  from {
    box-shadow: var(--emergence-6x-sphere-shadow);
    height: var(--emergence-6x-sphere-diameter);
    top: var(--emergence-6x-top);
    width: var(--emergence-6x-sphere-diameter);
  } to {
    box-shadow: var(--emergence-7-fools-journey-sphere-shadow);
    height: var(--emergence-7-fools-journey-sphere-diameter);
    top: var(--emergence-7-fools-journey-top);
    width: var(--emergence-7-fools-journey-sphere-diameter);
  }
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-1 .symbol.chaos {
  display: block;
  fill: var(--color-magenta);
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-2 {
  display: block;
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) / 2);
  left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset));
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere.sphere-2 {
  animation: transition-7-from-6x-sphere-sphere-2 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere-sphere-2 {
  from {
    box-shadow: var(--emergence-6x-sphere-shadow);
    height: var(--emergence-6x-sphere-diameter);
    left: calc(50% - var(--emergence-6x-sphere-horizontal-offset));
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) / 2);
    width: var(--emergence-6x-sphere-diameter);
  } to {
    box-shadow: var(--emergence-7-fools-journey-sphere-shadow);
    height: var(--emergence-7-fools-journey-sphere-diameter);
    left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) / 2);
    width: var(--emergence-7-fools-journey-sphere-diameter);
  }
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-2 .symbol.water {
  color: var(--color-blue);
  display: block;
}


#tree-anim.emergence-7-fools-journey .sphere.sphere-3 {
  display: block;
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) / 2);
  left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset));
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere.sphere-3 {
  animation: transition-7-from-6x-sphere-sphere-3 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere-sphere-3 {
  from {
    box-shadow: var(--emergence-6x-sphere-shadow);
    height: var(--emergence-6x-sphere-diameter);
    left: calc(50% + var(--emergence-6x-sphere-horizontal-offset));
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) / 2);
    width: var(--emergence-6x-sphere-diameter);
  } to {
    box-shadow: var(--emergence-7-fools-journey-sphere-shadow);
    height: var(--emergence-7-fools-journey-sphere-diameter);
    left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) / 2);
    width: var(--emergence-7-fools-journey-sphere-diameter);
  }
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-3 .symbol.air {
  color: var(--color-yellow);
  display: block;
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-4 {
  display: block;
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
  left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset));
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere.sphere-4 {
  animation: transition-7-from-6x-sphere-sphere-4 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere-sphere-4 {
  from {
    box-shadow: var(--emergence-6x-sphere-shadow);
    height: var(--emergence-6x-sphere-diameter);
    left: calc(50% + var(--emergence-6x-sphere-horizontal-offset));
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 1.5);
    width: var(--emergence-6x-sphere-diameter);
  } to {
    box-shadow: var(--emergence-7-fools-journey-sphere-shadow);
    height: var(--emergence-7-fools-journey-sphere-diameter);
    left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
    width: var(--emergence-7-fools-journey-sphere-diameter);
  }
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-4 .symbol.earth {
  color: var(--color-green);
  display: block;
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-5 {
  display: block;
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
  left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset));
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere.sphere-5 {
  animation: transition-7-from-6x-sphere-sphere-5 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere-sphere-5 {
  from {
    box-shadow: var(--emergence-6x-sphere-shadow);
    height: var(--emergence-6x-sphere-diameter);
    left: calc(50% - var(--emergence-6x-sphere-horizontal-offset));
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 1.5);
    width: var(--emergence-6x-sphere-diameter);
  } to {
    box-shadow: var(--emergence-7-fools-journey-sphere-shadow);
    height: var(--emergence-7-fools-journey-sphere-diameter);
    left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset));
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
    width: var(--emergence-7-fools-journey-sphere-diameter);
  }
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-5 .symbol.fire {
  color: var(--color-red);
  display: block;
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-6 {
  display: block;
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 2);
  left: 50%;
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere.sphere-6 {
  animation: transition-7-from-6x-sphere-sphere-6 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere-sphere-6 {
  from {
    box-shadow: var(--emergence-6x-sphere-shadow);
    height: var(--emergence-6x-sphere-diameter);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 2);
    width: var(--emergence-6x-sphere-diameter);
  } to {
    box-shadow: var(--emergence-7-fools-journey-sphere-shadow);
    height: var(--emergence-7-fools-journey-sphere-diameter);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 2);
    width: var(--emergence-7-fools-journey-sphere-diameter);
  }
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-6 .symbol.hexagram {
  display: none;
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-7 {
  display: block;
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 3);
  left: 50%;
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .sphere.sphere-7 {
  animation: transition-7-from-6x-sphere-sphere-7 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-sphere-sphere-7 {
  from {
    box-shadow: var(--emergence-6x-sphere-shadow);
    height: var(--emergence-6x-sphere-diameter);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 2);
    width: var(--emergence-6x-sphere-diameter);
  } to {
    box-shadow: var(--emergence-7-fools-journey-sphere-shadow);
    height: var(--emergence-7-fools-journey-sphere-diameter);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 3);
    width: var(--emergence-7-fools-journey-sphere-diameter);
  }
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-7 .name {
  display: none;
}

#tree-anim.emergence-7-fools-journey .sphere.sphere-7 .name.initial {
  display: block;
}

#tree-anim.emergence-7-fools-journey .path {
  box-shadow: var(--emergence-7-fools-journey-path-shadow);
  font-size: var(--emergence-7-fools-journey-path-font-size);
  height: var(--emergence-7-fools-journey-path-width);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path {
  animation: transition-7-from-6x-path var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
  }
}

#tree-anim.emergence-7-fools-journey .path .number.emergence-number {
  opacity: 0;
}

#tree-anim.emergence-7-fools-journey .path .number.fools-journey-number {
  display: block;
}

#tree-anim.emergence-7-fools-journey .path .number.fools-journey-number.left::before {
  color: #aaa;
  content: '\276E';
  font-size: 0.9em;
  padding-right: 0.18em;
  position: relative;
  top: -0.1em;
}

#tree-anim.emergence-7-fools-journey .path .number.fools-journey-number.left::after {
  color: #aaa;
  content: '\276E';
  font-size: 0.9em;
  padding-left: 0.09em;
  position: relative;
  top: -0.1em;
}

#tree-anim.emergence-7-fools-journey .path .number.fools-journey-number.right::before {
  color: #aaa;
  content: '\276F ';
  font-size: 0.9em;
  padding-right: 0.18em;
  position: relative;
  top: -0.1em;
}

#tree-anim.emergence-7-fools-journey .path .number.fools-journey-number.right::after {
  color: #aaa;
  content: ' \276F';
  font-size: 0.9em;
  padding-left: 0.09em;
  position: relative;
  top: -0.1em;
}

#tree-anim.emergence-7-fools-journey .path.path-0 {
  display: block;
  left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(30deg);
  width: var(--emergence-7-fools-journey-sphere-spacing);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-0 {
  animation: transition-7-from-6x-path-0 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-0 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: var(--emergence-6x-sphere-spacing);
    left: calc(50% - var(--emergence-6x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 0.25);
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: var(--emergence-7-fools-journey-sphere-spacing);
    left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 0.25);
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-0 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(60deg);
}

#tree-anim.emergence-7-fools-journey .path.path-0 .number.fools-journey-number.left {
  display: none;
}

#tree-anim.emergence-7-fools-journey .path.path-1 {
  display: block;
  left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-7-fools-journey-sphere-spacing);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-1 {
  animation: transition-7-from-6x-path-1 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-1 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: var(--emergence-6x-sphere-spacing);
    left: calc(50% + var(--emergence-6x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 0.25);
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: var(--emergence-7-fools-journey-sphere-spacing);
    left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 0.25);
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-1 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-60deg);
}

#tree-anim.emergence-7-fools-journey .path.path-1 .number.fools-journey-number.left {
  display: none;
}

#tree-anim.emergence-7-fools-journey .path.path-2 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 0.5);
  width: calc(var(--emergence-7-fools-journey-sphere-horizontal-offset) * 2);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-2 {
  animation: transition-7-from-6x-path-2 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-2 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: var(--emergence-6x-path-width);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 0.5);
    width: calc(var(--emergence-6x-sphere-horizontal-offset) * 2);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: var(--emergence-7-fools-journey-path-width);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 0.5);
    width: calc(var(--emergence-7-fools-journey-sphere-horizontal-offset) * 2);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-2 .number.fools-journey-number.right {
  display: none;
}

#tree-anim.emergence-7-fools-journey .path.path-3 {
  display: block;
  left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.75);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-7-fools-journey-sphere-spacing);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-3 {
  animation: transition-7-from-6x-path-3 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-3 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: var(--emergence-6x-sphere-spacing);
    left: calc(50% + var(--emergence-6x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 1.75);
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: var(--emergence-7-fools-journey-sphere-spacing);
    left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.75);
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-3 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-240deg);
}

#tree-anim.emergence-7-fools-journey .path.path-4 {
  display: block;
  left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset));
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing));
  transform: translate(-50%, -50%) rotate(-90deg);
  width: var(--emergence-7-fools-journey-sphere-spacing);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-4 {
  animation: transition-7-from-6x-path-4 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-4 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: calc(2 * var(--emergence-6x-sphere-spacing));
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing));
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: calc(2 * var(--emergence-7-fools-journey-sphere-spacing));
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing));
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-4 .number.emergence-number {
  transform: translate(-50%, -50%);
}

#tree-anim.emergence-7-fools-journey .path.path-5 {
  display: block;
  left: 50%;
  left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset));
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing));
  transform: translate(-50%, -50%) rotate(-90deg);
  width: var(--emergence-7-fools-journey-sphere-spacing);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-5 {
  animation: transition-7-from-6x-path-5 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-5 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: calc(2 * var(--emergence-6x-sphere-spacing));
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing));
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: calc(2 * var(--emergence-7-fools-journey-sphere-spacing));
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing));
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-5 .number.emergence-number {
  top: 50%;
}

#tree-anim.emergence-7-fools-journey .path.path-6 {
  display: block;
  left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.75);
  transform: translate(-50%, -50%) rotate(30deg);
  width: var(--emergence-7-fools-journey-sphere-spacing);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-6 {
  animation: transition-7-from-6x-path-6 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-6 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: var(--emergence-6x-sphere-spacing);
    left: calc(50% - var(--emergence-6x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 1.75);
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: var(--emergence-7-fools-journey-sphere-spacing);
    left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.75);
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-6 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(240deg);
}

#tree-anim.emergence-7-fools-journey .path.path-7 {
  display: block;
  height: var(--emergence-7-fools-journey-path-width);
  left: 50%;
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
  width: calc(var(--emergence-7-fools-journey-sphere-horizontal-offset) * 2);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-7 {
  animation: transition-7-from-6x-path-7 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-7 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: var(--emergence-6x-path-width);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 1.5);
    width: calc(var(--emergence-6x-sphere-horizontal-offset) * 2);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: var(--emergence-7-fools-journey-path-width);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
    width: calc(var(--emergence-7-fools-journey-sphere-horizontal-offset) * 2);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-8 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing));
  transform: translate(-50%, -50%) rotate(-90deg);
  width: calc(2 * var(--emergence-7-fools-journey-sphere-spacing));
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-8 {
  animation: transition-7-from-6x-path-8 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-8 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: calc(2 * var(--emergence-6x-sphere-spacing));
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing));
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: calc(2 * var(--emergence-7-fools-journey-sphere-spacing));
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing));
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-9 {
  display: block;
  left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.25);
  transform: translate(-50%, -50%) rotate(-60deg);
  width: calc(var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-9 {
  animation: transition-7-from-6x-path-9 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-9 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: calc(var(--emergence-6x-sphere-spacing) * 1.5);
    left: calc(50% - var(--emergence-6x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 1.25);
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: calc(var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
    left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.25);
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-9 .number.emergence-number {
  top: 65%;
  transform: translate(-50%, -50%) rotate(150deg);
}

#tree-anim.emergence-7-fools-journey .path.path-9 .number.fools-journey-number {
  left: 65%;
}
#tree-anim.emergence-7-fools-journey .path.path-9 .number.fools-journey-number.right {
  display: none;
}

#tree-anim.emergence-7-fools-journey .path.path-10 {
  display: block;
  left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.25);
  transform: translate(-50%, -50%) rotate(60deg);
  width: calc(var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-10 {
  animation: transition-7-from-6x-path-10 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-10 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: calc(var(--emergence-6x-sphere-spacing) * 1.5);
    left: calc(50% + var(--emergence-6x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 1.25);
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: calc(var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
    left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 1.25);
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-10 .number.emergence-number {
  left: 35%;
  transform: translate(-50%, -50%) rotate(-150deg);
}

#tree-anim.emergence-7-fools-journey .path.path-10 .number.fools-journey-number {
  left: 35%;
}

#tree-anim.emergence-7-fools-journey .path.path-10 .number.fools-journey-number.left {
  display: none;
}

#tree-anim.emergence-7-fools-journey .path.path-11 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 2.5);
  transform: translate(-50%, -50%) rotate(-90deg);
  width: var(--emergence-7-fools-journey-sphere-spacing);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-11 {
  animation: transition-7-from-6x-path-11 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-11 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: 0;
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 2);
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: calc(var(--emergence-7-fools-journey-sphere-spacing));
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 2.5);
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-11 .number.fools-journey-number.right {
  display: none;
}

#tree-anim.emergence-7-fools-journey .path.path-12 {
  display: block;
  left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 2.25);
  transform: translate(-50%, -50%) rotate(-60deg);
  width: calc(var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-12 {
  animation: transition-7-from-6x-path-12 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-12 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: var(--emergence-6x-sphere-spacing);
    left: calc(50% + var(--emergence-6x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 1.75);
    transform: translate(-50%, -50%) rotate(60deg);
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: calc(var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
    left: calc(50% + var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 2.25);
    transform: translate(-50%, -50%) rotate(30deg);
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-12 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(-30deg);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-12 .number.emergence-number {
  animation: transition-7-from-6x-path-12-number var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-12-number {
  from {
    transform: translate(-50%, -50%) rotate(-60deg);
  } to {
    transform: translate(-50%, -50%) rotate(-30deg);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-13 {
  display: block;
  left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 2.25);
  transform: translate(-50%, -50%) rotate(60deg);
  width: calc(var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-13 {
  animation: transition-7-from-6x-path-13 var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-13 {
  from {
    box-shadow: var(--emergence-6x-path-shadow);
    font-size: var(--emergence-6x-path-font-size);
    height: var(--emergence-6x-sphere-spacing);
    left: calc(50% - var(--emergence-6x-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-6x-top) + var(--emergence-6x-sphere-spacing) * 1.75);
    transform: translate(-50%, -50%) rotate(-60deg);
    width: var(--emergence-6x-path-width);
  } to {
    box-shadow: var(--emergence-7-fools-journey-path-shadow);
    font-size: var(--emergence-7-fools-journey-path-font-size);
    height: calc(var(--emergence-7-fools-journey-sphere-spacing) * 1.5);
    left: calc(50% - var(--emergence-7-fools-journey-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-7-fools-journey-top) + var(--emergence-7-fools-journey-sphere-spacing) * 2.25);
    transform: translate(-50%, -50%) rotate(-30deg);
    width: var(--emergence-7-fools-journey-path-width);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-13 .number.emergence-number {
  transform: translate(-50%, -50%) rotate(30deg);
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .path.path-13 .number.emergence-number {
  animation: transition-7-from-6x-path-13-number var(--transition-duration) ease-in-out;
}
@keyframes transition-7-from-6x-path-13-number {
  from {
    transform: translate(-50%, -50%) rotate(60deg);
  } to {
    transform: translate(-50%, -50%) rotate(30deg);
  }
}

#tree-anim.emergence-7-fools-journey .path.path-13 .number.fools-journey-number.left {
  display: none;
}

#tree-anim.emergence-7-fools-journey .text.emergence-7-fools-journey {
  display: block;
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .text.emergence-7-fools-journey {
  animation: fade-in calc(var(--transition-duration) / 2);
  animation-delay: calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
}
#tree-anim.emergence-7-fools-journey.transition-from-emergence-6x .text.emergence-6x {
  animation: fade-out calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
  display: block;
}
