/* emergence-5 */
:root {
  --emergence-5-non-being-0-font-size: 0.31em;
  --emergence-5-non-being-00-font-size: 0.43em;
  --emergence-5-non-being-000-font-size: 0.8em;
  --emergence-5-non-being-line-thickness: 0.28em;
  --emergence-5-path-font-size: calc(var(--emergence-5-path-width) * 0.65);
  --emergence-5-path-shadow: 0 0 0.4vh 0.2vh var(--color-darker);
  --emergence-5-path-width: calc(var(--emergence-5-sphere-diameter) * 0.28);
  --emergence-5-sphere-diameter: 13.9vh;
  --emergence-5-sphere-horizontal-offset: calc(var(--emergence-5-sphere-spacing) * 0.866);
  --emergence-5-sphere-name-font-size: calc(var(--emergence-5-sphere-diameter) * 0.2);
  --emergence-5-sphere-number-font-size: calc(var(--emergence-5-sphere-diameter) * 0.22);
  --emergence-5-sphere-shadow: 0 0 0.6vh 0.3vh var(--color-darker);
  --emergence-5-sphere-spacing: calc(var(--emergence-5-sphere-diameter) * 1.8);
  --emergence-5-sphere-symbol-font-size: calc(var(--emergence-5-sphere-diameter) * 0.4);
  --emergence-5-top: calc(var(--emergence-5-sphere-diameter) * 2.75);
}

#tree-anim.emergence-5 .non-being {
  display: block;
  top: var(--emergence-5-top);
}
#tree-anim.emergence-5.transition-from-emergence-4 .non-being {
  animation: transition-5-from-4-non-being var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-non-being {
  from {
    top: var(--emergence-4-top);
  } to {
    top: var(--emergence-5-top);
  }
}

#tree-anim.emergence-5 .non-being.nothing svg {
  font-size: var(--emergence-5-non-being-0-font-size);
  height: calc(var(--emergence-5-sphere-spacing) * 3.2);
  width: calc(var(--emergence-5-sphere-spacing) * 3.2);
}
#tree-anim.emergence-5.transition-from-emergence-4 .non-being.nothing svg {
  animation: transition-5-from-4-nothing-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-nothing-svg {
  from {
    font-size: var(--emergence-4-non-being-0-font-size);
    height: calc(var(--emergence-4-sphere-spacing) * 3.2);
    width: calc(var(--emergence-4-sphere-spacing) * 3.2);
  } to {
    font-size: var(--emergence-5-non-being-0-font-size);
    height: calc(var(--emergence-5-sphere-spacing) * 3.2);
    width: calc(var(--emergence-5-sphere-spacing) * 3.2);
  }
}

#tree-anim.emergence-5 .non-being.without-limit {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-5-non-being-line-thickness);
  height: calc(var(--emergence-5-sphere-spacing) * 2);
  width: calc(var(--emergence-5-sphere-spacing) * 2);
}
#tree-anim.emergence-5.transition-from-emergence-4 .non-being.without-limit {
  animation: transition-5-from-4-without-limit var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-without-limit {
  from {
    border-width: var(--emergence-4-non-being-line-thickness);
    height: calc(var(--emergence-4-sphere-spacing) * 2);
    top: var(--emergence-4-top);
    width: calc(var(--emergence-4-sphere-spacing) * 2);
  } to {
    border-width: var(--emergence-5-non-being-line-thickness);
    height: calc(var(--emergence-5-sphere-spacing) * 2);
    top: var(--emergence-5-top);
    width: calc(var(--emergence-5-sphere-spacing) * 2);
  }
}

#tree-anim.emergence-5 .non-being.without-limit svg {
  font-size: var(--emergence-5-non-being-00-font-size);
  height: calc(var(--emergence-5-sphere-spacing) * 2.25);
  width: calc(var(--emergence-5-sphere-spacing) * 2.25);
}
#tree-anim.emergence-5.transition-from-emergence-4 .non-being.without-limit svg {
  animation: transition-5-from-4-without-limit-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-without-limit-svg {
  from {
    font-size: var(--emergence-4-non-being-00-font-size);
    height: calc(var(--emergence-4-sphere-spacing) * 2.25);
    width: calc(var(--emergence-4-sphere-spacing) * 2.25);
  } to {
    font-size: var(--emergence-5-non-being-00-font-size);
    height: calc(var(--emergence-5-sphere-spacing) * 2.25);
    width: calc(var(--emergence-5-sphere-spacing) * 2.25);
  }
}

#tree-anim.emergence-5 .non-being.all-possibility {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-5-non-being-line-thickness);
  height: calc(var(--emergence-5-sphere-spacing) + var(--emergence-5-sphere-diameter) * 0.5);
  width: calc(var(--emergence-5-sphere-spacing) + var(--emergence-5-sphere-diameter) * 0.5);
}
#tree-anim.emergence-5.transition-from-emergence-4 .non-being.all-possibility {
  animation: transition-5-from-4-all-possibility var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-all-possibility {
  from {
    border-width: var(--emergence-4-non-being-line-thickness);
    height: calc(var(--emergence-4-sphere-spacing) + var(--emergence-4-sphere-diameter) * 0.5);
    top: var(--emergence-4-top);
    width: calc(var(--emergence-4-sphere-spacing) + var(--emergence-4-sphere-diameter) * 0.5);
  } to {
    border-width: var(--emergence-5-non-being-line-thickness);
    height: calc(var(--emergence-5-sphere-spacing) + var(--emergence-5-sphere-diameter) * 0.5);
    top: var(--emergence-5-top);
    width: calc(var(--emergence-5-sphere-spacing) + var(--emergence-5-sphere-diameter) * 0.5);
  }
}

#tree-anim.emergence-5 .non-being.all-possibility svg {
  font-size: var(--emergence-5-non-being-000-font-size);
  height: calc((var(--emergence-5-sphere-spacing) * 0.91 + var(--emergence-5-sphere-diameter) * 0.5));
  width: calc((var(--emergence-5-sphere-spacing) * 0.91 + var(--emergence-5-sphere-diameter) * 0.5));
}
#tree-anim.emergence-5.transition-from-emergence-4 .non-being.all-possibility svg {
  animation: transition-5-from-4-all-possibility-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-all-possibility-svg {
  from {
    font-size: var(--emergence-4-non-being-000-font-size);
    height: calc((var(--emergence-4-sphere-spacing) * 0.91 + var(--emergence-4-sphere-diameter) * 0.5));
    width: calc((var(--emergence-4-sphere-spacing) * 0.91 + var(--emergence-4-sphere-diameter) * 0.5));
  } to {
    font-size: var(--emergence-5-non-being-000-font-size);
    height: calc((var(--emergence-5-sphere-spacing) * 0.91 + var(--emergence-5-sphere-diameter) * 0.5));
    width: calc((var(--emergence-5-sphere-spacing) * 0.91 + var(--emergence-5-sphere-diameter) * 0.5));
  }
}

#tree-anim.emergence-5 .non-being-arc-hider {
  display: block;
  height: calc(1.5 * var(--emergence-5-sphere-spacing));
  top: calc(var(--emergence-5-top) + 0.8 * var(--emergence-5-sphere-spacing));
  width: calc(1.5 * var(--emergence-5-sphere-spacing));
}
#tree-anim.emergence-5.transition-from-emergence-4 .non-being-arc-hider {
  animation: transition-5-from-4-arc-hider var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-arc-hider {
  from {
    height: calc(1.3 * var(--emergence-4-sphere-spacing));
    top: calc(var(--emergence-4-top) + 0.8 * var(--emergence-4-sphere-spacing));
    width: calc(1.3 * var(--emergence-4-sphere-spacing));
  }
  to {
    height: calc(1.5 * var(--emergence-5-sphere-spacing));
    top: calc(var(--emergence-5-top) + 0.8 * var(--emergence-5-sphere-spacing));
    width: calc(1.5 * var(--emergence-5-sphere-spacing));
  }
}

#tree-anim.emergence-5 .sphere {
  box-shadow: var(--emergence-5-sphere-shadow);
  height: var(--emergence-5-sphere-diameter);
  width: var(--emergence-5-sphere-diameter);
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere {
  animation: transition-5-from-4-sphere var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-sphere {
  from {
    box-shadow: var(--emergence-4-sphere-shadow);
    height: var(--emergence-4-sphere-diameter);
    width: var(--emergence-4-sphere-diameter);
  } to {
    box-shadow: var(--emergence-5-sphere-shadow);
    height: var(--emergence-5-sphere-diameter);
    width: var(--emergence-5-sphere-diameter);
  }
}

#tree-anim.emergence-5 .sphere .name {
  font-size: var(--emergence-5-sphere-name-font-size);
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere .name {
  animation: transition-5-from-4-sphere-name var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-sphere-name {
  from {
    font-size: var(--emergence-4-sphere-name-font-size);
  } to {
    font-size: var(--emergence-5-sphere-name-font-size);
  }
}

#tree-anim.emergence-5 .sphere .number {
  font-size: var(--emergence-5-sphere-number-font-size);
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere .number {
  animation: transition-5-from-4-sphere-number var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-sphere-number {
  from {
    font-size: var(--emergence-4-sphere-number-font-size);
  } to {
    font-size: var(--emergence-5-sphere-number-font-size);
  }
}

#tree-anim.emergence-5 .sphere .symbol {
  font-weight: bold;
  font-size: var(--emergence-5-sphere-symbol-font-size);
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere .symbol {
  animation: transition-5-from-4-sphere-symbol var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-sphere-symbol {
  from {
    font-size: var(--emergence-4-sphere-symbol-font-size);
  } to {
    font-size: var(--emergence-5-sphere-symbol-font-size);
  }
}

#tree-anim.emergence-5 .sphere.sphere-1 {
  display: block;
  top: var(--emergence-5-top);
  left: 50%;
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere.sphere-1 {
  animation: transition-5-from-4-sphere-1 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-sphere-1 {
  from {
    box-shadow: var(--emergence-4-sphere-shadow);
    height: var(--emergence-4-sphere-diameter);
    top: var(--emergence-4-top);
    width: var(--emergence-4-sphere-diameter);
  } to {
    box-shadow: var(--emergence-5-sphere-shadow);
    height: var(--emergence-5-sphere-diameter);
    top: var(--emergence-5-top);
    width: var(--emergence-5-sphere-diameter);
  }
}

#tree-anim.emergence-5 .sphere.sphere-1 .symbol.chaos {
  display: block;
  fill: var(--color-magenta);
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere.sphere-1 .symbol.chaos {
  animation: transition-5-from-4-sphere-1-chaos calc(var(--transition-duration) * 0.6);
  animation-delay: calc(var(--transition-duration) * 0.4);
  animation-fill-mode: both;
}
@keyframes transition-5-from-4-sphere-1-chaos {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#tree-anim.emergence-5 .sphere.sphere-1 .symbol.fire {
  color: var(--color-red);
  display: block;
  opacity: 0;
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere.sphere-1 .symbol.fire {
  animation: transition-5-from-4-sphere-1-fire calc(var(--transition-duration) * 0.6);
}
@keyframes transition-5-from-4-sphere-1-fire {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#tree-anim.emergence-5 .sphere.sphere-2 {
  display: block;
  left: calc(50% + var(--emergence-5-sphere-horizontal-offset));
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) / 2);
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere.sphere-2 {
  animation: transition-5-from-4-sphere-2 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-sphere-2 {
  from {
    box-shadow: var(--emergence-4-sphere-shadow);
    height: var(--emergence-4-sphere-diameter);
    left: calc(50% + var(--emergence-4-sphere-spacing) * 0.707);
    top: calc(var(--emergence-4-top) + var(--emergence-4-sphere-spacing) * 0.707);
    width: var(--emergence-4-sphere-diameter);
  } to {
    box-shadow: var(--emergence-5-sphere-shadow);
    height: var(--emergence-5-sphere-diameter);
    left: calc(50% + var(--emergence-5-sphere-horizontal-offset));
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) / 2);
    width: var(--emergence-5-sphere-diameter);
  }
}

#tree-anim.emergence-5 .sphere.sphere-2 .symbol.water {
  color: var(--color-blue);
  display: block;
}

#tree-anim.emergence-5 .sphere.sphere-3 {
  display: block;
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) / 2);
  left: calc(50% - var(--emergence-5-sphere-horizontal-offset));
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere.sphere-3 {
  animation: transition-5-from-4-sphere-3 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-sphere-3 {
  from {
    box-shadow: var(--emergence-4-sphere-shadow);
    height: var(--emergence-4-sphere-diameter);
    left: calc(50% - var(--emergence-4-sphere-spacing) * 0.707);
    top: calc(var(--emergence-4-top) + var(--emergence-4-sphere-spacing) * 0.707);
    width: var(--emergence-4-sphere-diameter);
  } to {
    box-shadow: var(--emergence-5-sphere-shadow);
    height: var(--emergence-5-sphere-diameter);
    left: calc(50% - var(--emergence-5-sphere-horizontal-offset));
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) / 2);
    width: var(--emergence-5-sphere-diameter);
  }
}

#tree-anim.emergence-5 .sphere.sphere-3 .symbol.air {
  color: var(--color-yellow);
  display: block;
}

#tree-anim.emergence-5 .sphere.sphere-4 {
  display: block;
  left: calc(50% + var(--emergence-5-sphere-horizontal-offset));
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 1.5);
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere.sphere-4 {
  animation: transition-5-from-4-sphere-4 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-sphere-4 {
  from {
    box-shadow: var(--emergence-4-sphere-shadow);
    height: var(--emergence-4-sphere-diameter);
    left: 50%;
    top: calc(var(--emergence-4-top) + var(--emergence-4-sphere-spacing) * 1.414);
    width: var(--emergence-4-sphere-diameter);
  } to {
    box-shadow: var(--emergence-5-sphere-shadow);
    height: var(--emergence-5-sphere-diameter);
    left: calc(50% + var(--emergence-5-sphere-horizontal-offset));
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 1.5);
    width: var(--emergence-5-sphere-diameter);
  }
}

#tree-anim.emergence-5 .sphere.sphere-4 .name.initial {
  display: block;
}

#tree-anim.emergence-5 .sphere.sphere-4 .name {
  display: none;
}

#tree-anim.emergence-5 .sphere.sphere-4 .symbol.earth {
  color: var(--color-green);
  display: block;
}

#tree-anim.emergence-5 .sphere.sphere-5 {
  display: block;
  left: calc(50% - var(--emergence-5-sphere-horizontal-offset));
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 1.5);
}
#tree-anim.emergence-5.transition-from-emergence-4 .sphere.sphere-5 {
  animation: transition-5-from-4-sphere-5 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-sphere-5 {
  from {
    box-shadow: var(--emergence-4-sphere-shadow);
    height: var(--emergence-4-sphere-diameter);
    left: 50%;
    top: calc(var(--emergence-4-top) + var(--emergence-4-sphere-spacing) * 1.414);
    width: var(--emergence-4-sphere-diameter);
  } to {
    box-shadow: var(--emergence-5-sphere-shadow);
    height: var(--emergence-5-sphere-diameter);
    left: calc(50% - var(--emergence-5-sphere-horizontal-offset));
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 1.5);
    width: var(--emergence-5-sphere-diameter);
  }
}

#tree-anim.emergence-5 .sphere.sphere-5 .name.initial {
  display: block;
}

#tree-anim.emergence-5 .sphere.sphere-5 .name {
  display: none;
}

#tree-anim.emergence-5 .sphere.sphere-5 .symbol.fire {
  color: var(--color-red);
  display: block;
}

#tree-anim.emergence-5 .path {
  box-shadow: var(--emergence-5-path-shadow);
  font-size: var(--emergence-5-path-font-size);
  height: var(--emergence-5-path-width);
}

#tree-anim.emergence-5 .path.path-0 {
  display: block;
  left: calc(50% + var(--emergence-5-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(30deg);
  width: var(--emergence-5-sphere-spacing);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-0 {
  animation: transition-5-from-4-path-0 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-0 {
  from {
    box-shadow: var(--emergence-4-path-shadow);
    font-size: var(--emergence-4-path-font-size);
    height: var(--emergence-4-path-width);
    left: calc(50% + var(--emergence-4-sphere-spacing) * 0.354);
    top: calc(var(--emergence-4-top) + var(--emergence-4-sphere-spacing) * 0.354);
    transform: translate(-50%, -50%) rotate(45deg);
    width: var(--emergence-4-sphere-spacing);
  }
  to {
    box-shadow: var(--emergence-5-path-shadow);
    font-size: var(--emergence-5-path-font-size);
    height: var(--emergence-5-path-width);
    left: calc(50% + var(--emergence-5-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 0.25);
    transform: translate(-50%, -50%) rotate(30deg);
    width: var(--emergence-5-sphere-spacing);
  }
}

#tree-anim.emergence-5 .path.path-0 .number {
  transform: translate(-50%, -50%) rotate(-30deg);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-0 .number {
  animation: transition-5-from-4-path-0-number var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-0-number {
  from {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-30deg);
  }
}

#tree-anim.emergence-5 .path.path-1 {
  display: block;
  left: calc(50% - var(--emergence-5-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(-30deg);
  width: var(--emergence-5-sphere-spacing);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-1 {
  animation: transition-5-from-4-path-1 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-1 {
  from {
    box-shadow: var(--emergence-4-path-shadow);
    font-size: var(--emergence-4-path-font-size);
    height: var(--emergence-4-path-width);
    left: calc(50% - var(--emergence-4-sphere-spacing) * 0.354);
    top: calc(var(--emergence-4-top) + var(--emergence-4-sphere-spacing) * 0.354);
    transform: translate(-50%, -50%) rotate(-45deg);
    width: var(--emergence-4-sphere-spacing);
  }
  to {
    box-shadow: var(--emergence-5-path-shadow);
    font-size: var(--emergence-5-path-font-size);
    height: var(--emergence-5-path-width);
    left: calc(50% - var(--emergence-5-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 0.25);
    transform: translate(-50%, -50%) rotate(-30deg);
    width: var(--emergence-5-sphere-spacing);
  }
}

#tree-anim.emergence-5 .path.path-1 .number {
  transform: translate(-50%, -50%) rotate(30deg);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-1 .number {
  animation: transition-5-from-4-path-1-number var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-1-number {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(30deg);
  }
}

#tree-anim.emergence-5 .path.path-2 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 0.5);
  width: calc(var(--emergence-5-sphere-horizontal-offset) * 2);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-2 {
  animation: transition-5-from-4-path-2 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-2 {
  from {
    box-shadow: var(--emergence-4-path-shadow);
    font-size: var(--emergence-4-path-font-size);
    height: var(--emergence-4-path-width);
    top: calc(var(--emergence-4-top) + var(--emergence-4-sphere-spacing) * 0.707);
    width: var(--emergence-4-sphere-spacing);
  }
  to {
    box-shadow: var(--emergence-5-path-shadow);
    font-size: var(--emergence-5-path-font-size);
    height: var(--emergence-5-path-width);
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 0.5);
    width: calc(var(--emergence-5-sphere-horizontal-offset) * 2);
  }
}

#tree-anim.emergence-5 .path.path-3 {
  display: block;
  left: calc(50% + var(--emergence-5-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 0.75);
  transform: translate(-50%, -50%) rotate(60deg);
  width: calc(var(--emergence-5-sphere-spacing) * 1.5);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-3 {
  animation: transition-5-from-4-path-3 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-3 {
  from {
    box-shadow: var(--emergence-4-path-shadow);
    font-size: var(--emergence-4-path-font-size);
    height: var(--emergence-4-path-width);
    left: 50%;
    top: calc(var(--emergence-4-top) + var(--emergence-4-sphere-spacing) * 0.707);
    transform: translate(-50%, -50%) rotate(90deg);
    width: calc(1.414 * var(--emergence-4-sphere-spacing));
  }
  to {
    box-shadow: var(--emergence-5-path-shadow);
    font-size: var(--emergence-5-path-font-size);
    height: var(--emergence-5-path-width);
    left: calc(50% + var(--emergence-5-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 0.75);
    transform: translate(-50%, -50%) rotate(60deg);
    width: calc(var(--emergence-5-sphere-spacing) * 1.5);
  }
}

#tree-anim.emergence-5 .path.path-3 .number {
  left: 65%;
  transform: translate(-50%, -50%) rotate(-60deg);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-3 .number {
  animation: transition-5-from-4-path-3-number var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-3-number {
  from {
    left: 67%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  to {
    left: 65%;
    transform: translate(-50%, -50%) rotate(-60deg);
  }
}

#tree-anim.emergence-5 .path.path-4 {
  display: block;
  left: calc(50% + var(--emergence-5-sphere-horizontal-offset));
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing));
  transform: translate(-50%, -50%) rotate(-90deg);
  width: var(--emergence-5-sphere-spacing);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-4 {
  animation: transition-5-from-4-path-4 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-4 {
  from {
    box-shadow: var(--emergence-4-path-shadow);
    font-size: var(--emergence-4-path-font-size);
    height: var(--emergence-4-path-width);
    left: calc(50% + 0.354 * var(--emergence-4-sphere-spacing));
    top: calc(var(--emergence-4-top) + 1.060 * var(--emergence-4-sphere-spacing));
    transform: translate(-50%, -50%) rotate(-45deg);
    width: var(--emergence-4-sphere-spacing);
  }
  to {
    box-shadow: var(--emergence-5-path-shadow);
    font-size: var(--emergence-5-path-font-size);
    height: var(--emergence-5-path-width);
    left: calc(50% + var(--emergence-5-sphere-horizontal-offset));
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing));
    transform: translate(-50%, -50%) rotate(-90deg);
    width: var(--emergence-5-sphere-spacing);
  }
}

#tree-anim.emergence-5 .path.path-4 .number {
  transform: translate(-50%, -50%) rotate(90deg);
}

#tree-anim.emergence-5.transition-from-emergence-4 .path.path-4 .number {
  animation: transition-5-from-4-path-4-number var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-4-number {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(90);
  }
}

#tree-anim.emergence-5 .path.path-5 {
  display: block;
  left: calc(50% - var(--emergence-5-sphere-horizontal-offset));
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing));
  transform: translate(-50%, -50%) rotate(90deg);
  width: var(--emergence-5-sphere-spacing);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-5 {
  animation: transition-5-from-4-path-5 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-5 {
  from {
    box-shadow: var(--emergence-4-path-shadow);
    font-size: var(--emergence-4-path-font-size);
    height: var(--emergence-4-path-width);
    left: calc(50% - 0.354 * var(--emergence-4-sphere-spacing));
    top: calc(var(--emergence-4-top) + 1.060 * var(--emergence-4-sphere-spacing));
    transform: translate(-50%, -50%) rotate(45deg);
    width: var(--emergence-4-sphere-spacing);
  }
  to {
    box-shadow: var(--emergence-5-path-shadow);
    font-size: var(--emergence-5-path-font-size);
    height: var(--emergence-5-path-width);
    left: calc(50% - var(--emergence-5-sphere-horizontal-offset));
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing));
    transform: translate(-50%, -50%) rotate(90deg);
    width: var(--emergence-5-sphere-spacing);
  }
}

#tree-anim.emergence-5 .path.path-5 .number {
  transform: translate(-50%, -50%) rotate(-90deg);
}

#tree-anim.emergence-5.transition-from-emergence-4 .path.path-5 .number {
  animation: transition-5-from-4-path-5-number var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-5-number {
  from {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

#tree-anim.emergence-5 .path.path-6 {
  display: block;
  left: calc(50% - var(--emergence-5-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 0.75);
  transform: translate(-50%, -50%) rotate(120deg);
  width: calc(var(--emergence-5-sphere-spacing) * 1.5);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-6 {
  animation: transition-5-from-4-path-6 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-6 {
  from {
    box-shadow: var(--emergence-4-path-shadow);
    font-size: var(--emergence-4-path-font-size);
    height: var(--emergence-4-path-width);
    left: 50%;
    top: calc(var(--emergence-4-top) + var(--emergence-4-sphere-spacing) * 0.707);
    transform: translate(-50%, -50%) rotate(90deg);
    width: calc(1.414 * var(--emergence-4-sphere-spacing));
  }
  to {
    box-shadow: var(--emergence-5-path-shadow);
    font-size: var(--emergence-5-path-font-size);
    height: var(--emergence-5-path-width);
    left: calc(50% - var(--emergence-5-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 0.75);
    transform: translate(-50%, -50%) rotate(120deg);
    width: calc(var(--emergence-5-sphere-spacing) * 1.5);
  }
}

#tree-anim.emergence-5 .path.path-6 .number {
  left: 65%;
  transform: translate(-50%, -50%) rotate(-120deg);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-6 .number {
  animation: transition-5-from-4-path-6-number var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-6-number {
  from {
    left: 67%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  to {
    left: 65%;
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

#tree-anim.emergence-5 .path.path-7 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 1.5);
  width: calc(var(--emergence-5-sphere-horizontal-offset) * 2);
}
#tree-anim.emergence-5.transition-from-emergence-4 .path.path-7 {
  animation: transition-5-from-4-path-7 var(--transition-duration) ease-in-out;
}
@keyframes transition-5-from-4-path-7 {
  from {
    box-shadow: var(--emergence-4-path-shadow);
    font-size: var(--emergence-4-path-font-size);
    height: var(--emergence-4-path-width);
    top: calc(var(--emergence-4-top) + var(--emergence-4-sphere-spacing) * 1.414);
    width: 0;
  }
  to {
    box-shadow: var(--emergence-5-path-shadow);
    font-size: var(--emergence-5-path-font-size);
    height: var(--emergence-5-path-width);
    top: calc(var(--emergence-5-top) + var(--emergence-5-sphere-spacing) * 1.5);
    width: calc(var(--emergence-5-sphere-horizontal-offset) * 2);
  }
}

#tree-anim.emergence-5 .text.emergence-5 {
  display: block;
}

#tree-anim.emergence-5.transition-from-emergence-4 .text.emergence-5 {
  animation: fade-in calc(var(--transition-duration) / 2);
  animation-delay: calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
}

#tree-anim.emergence-5.transition-from-emergence-4 .text.emergence-4 {
  animation: fade-out calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
  display: block;
}
