/* emergence-8 */
:root {
  --emergence-8-non-being-0-font-size: 0.31em;
  --emergence-8-non-being-00-font-size: 0.43em;
  --emergence-8-non-being-000-font-size: 0.8em;
  --emergence-8-non-being-line-thickness: 0.28em;
  --emergence-8-path-font-size: calc(var(--emergence-8-path-width) * 0.65);
  --emergence-8-path-shadow: 0 0 0.4vh 0.2vh var(--color-darker);
  --emergence-8-path-width: calc(var(--emergence-8-sphere-diameter) * 0.28);
  --emergence-8-sphere-diameter: 11.4vh;
  --emergence-8-sphere-horizontal-offset: calc(var(--emergence-8-sphere-spacing) * 0.866);
  --emergence-8-sphere-name-font-size: calc(var(--emergence-8-sphere-diameter) * 0.2);
  --emergence-8-sphere-number-font-size: calc(var(--emergence-8-sphere-diameter) * 0.22);
  --emergence-8-sphere-shadow: 0 0 0.6vh 0.3vh var(--color-darker);
  --emergence-8-sphere-spacing: calc(var(--emergence-8-sphere-diameter) * 1.8);
  --emergence-8-sphere-symbol-font-size: calc(var(--emergence-8-sphere-diameter) * 0.4);
  --emergence-8-top: calc(var(--emergence-8-sphere-diameter) * 2.4);
}

#tree-anim.emergence-8 .non-being {
  display: block;
  top: var(--emergence-8-top);
}
#tree-anim.emergence-8.transition-from-emergence-7 .non-being {
  animation: transition-8-from-7-non-being var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-non-being {
  from {
    top: var(--emergence-7-top);
  } to {
    top: var(--emergence-8-top);
  }
}

#tree-anim.emergence-8 .non-being.nothing svg {
  font-size: var(--emergence-8-non-being-0-font-size);
  height: calc(var(--emergence-8-sphere-spacing) * 3.2);
  width: calc(var(--emergence-8-sphere-spacing) * 3.2);
}
#tree-anim.emergence-8.transition-from-emergence-7 .non-being.nothing svg {
  animation: transition-8-from-7-non-being-nothing-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-non-being-nothing-svg {
  from {
    font-size: var(--emergence-7-non-being-0-font-size);
    height: calc(var(--emergence-7-sphere-spacing) * 3.2);
    width: calc(var(--emergence-7-sphere-spacing) * 3.2);
  } to {
    font-size: var(--emergence-8-non-being-0-font-size);
    height: calc(var(--emergence-8-sphere-spacing) * 3.2);
    width: calc(var(--emergence-8-sphere-spacing) * 3.2);
  }
}

#tree-anim.emergence-8 .non-being.without-limit {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-8-non-being-line-thickness);
  height: calc(var(--emergence-8-sphere-spacing) * 2);
  width: calc(var(--emergence-8-sphere-spacing) * 2);
}
#tree-anim.emergence-8.transition-from-emergence-7 .non-being.without-limit {
  animation: transition-8-from-7-non-being-without-limit var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-non-being-without-limit {
  from {
    border-width: var(--emergence-7-non-being-line-thickness);
    height: calc(var(--emergence-7-sphere-spacing) * 2);
    top: var(--emergence-7-top);
    width: calc(var(--emergence-7-sphere-spacing) * 2);
  } to {
    border-width: var(--emergence-8-non-being-line-thickness);
    height: calc(var(--emergence-8-sphere-spacing) * 2);
    top: var(--emergence-8-top);
    width: calc(var(--emergence-8-sphere-spacing) * 2);
  }
}

#tree-anim.emergence-8 .non-being.without-limit svg {
  font-size: var(--emergence-8-non-being-00-font-size);
  height: calc(var(--emergence-8-sphere-spacing) * 2.25);
  width: calc(var(--emergence-8-sphere-spacing) * 2.25);
}
#tree-anim.emergence-8.transition-from-emergence-7 .non-being.without-limit svg {
  animation: transition-8-from-7-non-being-without-limit-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-non-being-without-limit-svg {
  from {
    font-size: var(--emergence-7-non-being-00-font-size);
    height: calc(var(--emergence-7-sphere-spacing) * 2.25);
    width: calc(var(--emergence-7-sphere-spacing) * 2.25);
  } to {
    font-size: var(--emergence-8-non-being-00-font-size);
    height: calc(var(--emergence-8-sphere-spacing) * 2.25);
    width: calc(var(--emergence-8-sphere-spacing) * 2.25);
  }
}

#tree-anim.emergence-8 .non-being.all-possibility {
  border-color: var(--color-light);
  border-style: solid;
  border-width: var(--emergence-8-non-being-line-thickness);
  height: calc(var(--emergence-8-sphere-spacing) + var(--emergence-8-sphere-diameter) * 0.5);
  width: calc(var(--emergence-8-sphere-spacing) + var(--emergence-8-sphere-diameter) * 0.5);
}
#tree-anim.emergence-8.transition-from-emergence-7 .non-being.all-possibility {
  animation: transition-8-from-7-non-being-all-possibility var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-non-being-all-possibility {
  from {
    border-width: var(--emergence-7-non-being-line-thickness);
    height: calc(var(--emergence-7-sphere-spacing) + var(--emergence-7-sphere-diameter) * 0.5);
    top: var(--emergence-7-top);
    width: calc(var(--emergence-7-sphere-spacing) + var(--emergence-7-sphere-diameter) * 0.5);
  } to {
    border-width: var(--emergence-8-non-being-line-thickness);
    height: calc(var(--emergence-8-sphere-spacing) + var(--emergence-8-sphere-diameter) * 0.5);
    top: var(--emergence-8-top);
    width: calc(var(--emergence-8-sphere-spacing) + var(--emergence-8-sphere-diameter) * 0.5);
  }
}

#tree-anim.emergence-8 .non-being.all-possibility svg {
  font-size: var(--emergence-8-non-being-000-font-size);
  height: calc((var(--emergence-8-sphere-spacing) * 0.91 + var(--emergence-8-sphere-diameter) * 0.5));
  width: calc((var(--emergence-8-sphere-spacing) * 0.91 + var(--emergence-8-sphere-diameter) * 0.5));
}
#tree-anim.emergence-8.transition-from-emergence-7 .non-being.all-possibility svg {
  animation: transition-8-from-7-non-being-all-possibility-svg var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-non-being-all-possibility-svg {
  from {
    font-size: var(--emergence-7-non-being-000-font-size);
    height: calc((var(--emergence-7-sphere-spacing) * 0.91 + var(--emergence-7-sphere-diameter) * 0.5));
    width: calc((var(--emergence-7-sphere-spacing) * 0.91 + var(--emergence-7-sphere-diameter) * 0.5));
  } to {
    font-size: var(--emergence-8-non-being-000-font-size);
    height: calc((var(--emergence-8-sphere-spacing) * 0.91 + var(--emergence-8-sphere-diameter) * 0.5));
    width: calc((var(--emergence-8-sphere-spacing) * 0.91 + var(--emergence-8-sphere-diameter) * 0.5));
  }
}

#tree-anim.emergence-8 .non-being-arc-hider {
  display: block;
  height: calc(1.5 * var(--emergence-8-sphere-spacing));
  top: calc(var(--emergence-8-top) + 0.8 * var(--emergence-8-sphere-spacing));
  width: calc(1.5 * var(--emergence-8-sphere-spacing));
}

#tree-anim.emergence-8 .sphere {
  box-shadow: var(--emergence-8-sphere-shadow);
  box-sizing: border-box;
  height: var(--emergence-8-sphere-diameter);
  width: var(--emergence-8-sphere-diameter);
}

#tree-anim.emergence-8 .sphere .name {
  font-size: var(--emergence-8-sphere-name-font-size);
}

#tree-anim.emergence-8 .sphere .number {
  font-size: var(--emergence-8-sphere-number-font-size);
}

#tree-anim.emergence-8 .sphere .symbol {
  font-weight: bold;
  font-size: var(--emergence-8-sphere-symbol-font-size);
}

#tree-anim.emergence-8 .sphere.sphere-1 {
  display: block;
  top: var(--emergence-8-top);
  left: 50%;
}

#tree-anim.emergence-8 .sphere.sphere-1 .symbol.chaos {
  display: block;
  fill: var(--color-magenta);
}

#tree-anim.emergence-8 .sphere.sphere-2 {
  display: block;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) / 2);
  left: calc(50% - var(--emergence-8-sphere-horizontal-offset));
}

#tree-anim.emergence-8 .sphere.sphere-2 .symbol.water {
  color: var(--color-blue);
  display: block;
}


#tree-anim.emergence-8 .sphere.sphere-3 {
  display: block;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) / 2);
  left: calc(50% + var(--emergence-8-sphere-horizontal-offset));
}

#tree-anim.emergence-8 .sphere.sphere-3 .symbol.air {
  color: var(--color-yellow);
  display: block;
}

#tree-anim.emergence-8 .sphere.sphere-4 {
  display: block;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 1.5);
  left: calc(50% + var(--emergence-8-sphere-horizontal-offset));
}

#tree-anim.emergence-8 .sphere.sphere-4 .symbol.earth {
  color: var(--color-green);
  display: block;
}

#tree-anim.emergence-8 .sphere.sphere-5 {
  display: block;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 1.5);
  left: calc(50% - var(--emergence-8-sphere-horizontal-offset));
}

#tree-anim.emergence-8 .sphere.sphere-5 .symbol.fire {
  color: var(--color-red);
  display: block;
}

#tree-anim.emergence-8 .sphere.sphere-6 {
  display: block;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2);
  left: 50%;
}

#tree-anim.emergence-8 .sphere.sphere-6 .symbol.hexagram {
  display: block;
  fill: var(--color-cyan);
}

#tree-anim.emergence-8 .sphere.sphere-7 {
  display: block;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2.5);
  left: calc(50% + var(--emergence-8-sphere-horizontal-offset));
}
#tree-anim.emergence-8.transition-from-emergence-7 .sphere.sphere-7 {
  animation: transition-8-from-7-sphere-sphere-7 var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-sphere-sphere-7 {
  from {
    top: calc(var(--emergence-7-top) + var(--emergence-7-sphere-spacing) * 3);
    left: 50%;
  } to {
    top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2.5);
    left: calc(50% + var(--emergence-8-sphere-horizontal-offset));
  }
}

#tree-anim.emergence-8 .sphere.sphere-8 {
  display: block;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2.5);
  left: calc(50% - var(--emergence-8-sphere-horizontal-offset));
}
#tree-anim.emergence-8.transition-from-emergence-7 .sphere.sphere-8 {
  animation: transition-8-from-7-sphere-sphere-8 var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-sphere-sphere-8 {
  from {
    top: calc(var(--emergence-7-top) + var(--emergence-7-sphere-spacing) * 3);
    left: 50%;
  } to {
    top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2.5);
    left: calc(50% - var(--emergence-8-sphere-horizontal-offset));
  }
}

#tree-anim.emergence-8 .path {
  box-shadow: var(--emergence-8-path-shadow);
  font-size: var(--emergence-8-path-font-size);
}
#tree-anim.emergence-8.transition-from-emergence-7 .path {
  animation: transition-8-from-7-path var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-path {
  from {
    box-shadow: var(--emergence-7-path-shadow);
    font-size: var(--emergence-7-path-font-size);
  } to {
    box-shadow: var(--emergence-8-path-shadow);
    font-size: var(--emergence-8-path-font-size);
  }
}

#tree-anim.emergence-8 .path.path-0 {
  display: block;
  height: var(--emergence-8-sphere-spacing);
  left: calc(50% - var(--emergence-8-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(60deg);
  width: var(--emergence-8-path-width);
}

#tree-anim.emergence-8 .path.path-0 .number {
  transform: translate(-50%, -50%) rotate(-60deg);
}

#tree-anim.emergence-8 .path.path-1 {
  display: block;
  height: var(--emergence-8-sphere-spacing);
  left: calc(50% + var(--emergence-8-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 0.25);
  transform: translate(-50%, -50%) rotate(-60deg);
  width: var(--emergence-8-path-width);
}

#tree-anim.emergence-8 .path.path-1 .number {
  transform: translate(-50%, -50%) rotate(60deg);
}

#tree-anim.emergence-8 .path.path-2 {
  display: block;
  left: 50%;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 0.5);
  width: calc(var(--emergence-8-sphere-horizontal-offset) * 2);
  height: var(--emergence-8-path-width);
}

#tree-anim.emergence-8 .path.path-3 {
  display: block;
  height: var(--emergence-8-sphere-spacing);
  left: calc(50% + var(--emergence-8-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 1.75);
  transform: translate(-50%, -50%) rotate(240deg);
  width: var(--emergence-8-path-width);
}

#tree-anim.emergence-8 .path.path-3 .number {
  transform: translate(-50%, -50%) rotate(-240deg);
}

#tree-anim.emergence-8 .path.path-4 {
  display: block;
  height: calc(2 * var(--emergence-8-sphere-spacing));
  left: 50%;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing));
  width: var(--emergence-8-path-width);
  transform: translate(-50%, -50%) rotate(-60deg);
}

#tree-anim.emergence-8 .path.path-4 .number {
  top: 30%;
  transform: translate(-50%, -50%) rotate(60deg);
}

#tree-anim.emergence-8 .path.path-5 {
  display: block;
  height: calc(2 * var(--emergence-8-sphere-spacing));
  left: 50%;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing));
  transform: translate(-50%, -50%) rotate(60deg);
  width: var(--emergence-8-path-width);
}

#tree-anim.emergence-8 .path.path-5 .number {
  top: 30%;
  transform: translate(-50%, -50%) rotate(-60deg);
}

#tree-anim.emergence-8 .path.path-6 {
  display: block;
  height: var(--emergence-8-sphere-spacing);
  left: calc(50% - var(--emergence-8-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 1.75);
  transform: translate(-50%, -50%) rotate(-240deg);
  width: var(--emergence-8-path-width);
}

#tree-anim.emergence-8 .path.path-6 .number {
  transform: translate(-50%, -50%) rotate(240deg);
}

#tree-anim.emergence-8 .path.path-7 {
  display: block;
  height: var(--emergence-8-path-width);
  left: 50%;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 1.5);
  width: calc(var(--emergence-8-sphere-horizontal-offset) * 2);
}

#tree-anim.emergence-8 .path.path-8 {
  display: block;
  height: calc(2 * var(--emergence-8-sphere-spacing));
  left: 50%;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing));
  width: var(--emergence-8-path-width);
}

#tree-anim.emergence-8 .path.path-9 {
  display: block;
  height: calc(var(--emergence-8-sphere-spacing) * 1.5);
  left: calc(50% - var(--emergence-8-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 1.25);
  transform: translate(-50%, -50%) rotate(150deg);
  width: var(--emergence-8-path-width);
}

#tree-anim.emergence-8 .path.path-9 .number {
  top: 65%;
  transform: translate(-50%, -50%) rotate(-150deg);
}

#tree-anim.emergence-8 .path.path-10 {
  display: block;
  height: calc(var(--emergence-8-sphere-spacing) * 1.5);
  left: calc(50% + var(--emergence-8-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 1.25);
  transform: translate(-50%, -50%) rotate(-150deg);
  width: var(--emergence-8-path-width);
}

#tree-anim.emergence-8 .path.path-10 .number {
  top: 65%;
  transform: translate(-50%, -50%) rotate(150deg);
}

#tree-anim.emergence-8 .path.path-11 {
  display: block;
  height: var(--emergence-8-sphere-spacing);
  left: calc(50% + var(--emergence-8-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2.25);
  width: var(--emergence-8-path-width);
  transform: translate(-50%, -50%) rotate(-60deg);
}
#tree-anim.emergence-8.transition-from-emergence-7 .path.path-11 {
  animation: transition-8-from-7-path-11 var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-path-11 {
  from {
    box-shadow: var(--emergence-7-path-shadow);
    font-size: var(--emergence-7-path-font-size);
    height: var(--emergence-7-sphere-spacing);
    left: 50%;
    top: calc(var(--emergence-7-top) + var(--emergence-7-sphere-spacing) * 2.5);
    width: var(--emergence-7-path-width);
    transform: translate(-50%, -50%) rotate(0deg);
  } to {
    box-shadow: var(--emergence-8-path-shadow);
    font-size: var(--emergence-8-path-font-size);
    height: var(--emergence-8-sphere-spacing);
    left: calc(50% + var(--emergence-8-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2.25);
    width: var(--emergence-8-path-width);
    transform: translate(-50%, -50%) rotate(-60deg);
  }
}

#tree-anim.emergence-8 .path.path-11 .number {
  transform: translate(-50%, -50%) rotate(60deg);
}
#tree-anim.emergence-8.transition-from-emergence-7 .path.path-11 .number {
  animation: transition-8-from-7-path-11-number var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-path-11-number {
  from {
    transform: translate(-50%, -50%) rotate(0);
  } to {
    transform: translate(-50%, -50%) rotate(60deg);
  }
}

#tree-anim.emergence-8 .path.path-12 {
  display: block;
  height: var(--emergence-8-sphere-spacing);
  left: calc(50% + var(--emergence-8-sphere-horizontal-offset));
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2);
  width: var(--emergence-8-path-width);
}
#tree-anim.emergence-8.transition-from-emergence-7 .path.path-12 {
  animation: transition-8-from-7-path-12 var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-path-12 {
  from {
    box-shadow: var(--emergence-7-path-shadow);
    font-size: var(--emergence-7-path-font-size);
    height: calc(var(--emergence-7-sphere-spacing) * 1.5);
    left: calc(50% + var(--emergence-7-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-7-top) + var(--emergence-7-sphere-spacing) * 2.25);
    transform: translate(-50%, -50%) rotate(30deg);
    width: var(--emergence-7-path-width);
  } to {
    box-shadow: var(--emergence-8-path-shadow);
    font-size: var(--emergence-8-path-font-size);
    height: var(--emergence-8-sphere-spacing);
    left: calc(50% + var(--emergence-8-sphere-horizontal-offset));
    top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2);
    width: var(--emergence-8-path-width);
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

#tree-anim.emergence-8.transition-from-emergence-7 .path.path-12 .number {
  animation: transition-8-from-7-path-12-number var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-path-12-number {
  from {
    transform: translate(-50%, -50%) rotate(-30deg);
  } to {
    transform: translate(-50%, -50%) rotate(0);
  }
}

#tree-anim.emergence-8 .path.path-13 {
  display: block;
  height: var(--emergence-8-sphere-spacing);
  left: calc(50% - var(--emergence-8-sphere-horizontal-offset));
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2);
  width: var(--emergence-8-path-width);
}
#tree-anim.emergence-8.transition-from-emergence-7 .path.path-13 {
  animation: transition-8-from-7-path-13 var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-path-13 {
  from {
    box-shadow: var(--emergence-7-path-shadow);
    font-size: var(--emergence-7-path-font-size);
    height: calc(var(--emergence-7-sphere-spacing) * 1.5);
    left: calc(50% - var(--emergence-7-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-7-top) + var(--emergence-7-sphere-spacing) * 2.25);
    transform: translate(-50%, -50%) rotate(-30deg);
    width: var(--emergence-7-path-width);
  } to {
    box-shadow: var(--emergence-8-path-shadow);
    font-size: var(--emergence-8-path-font-size);
    height: var(--emergence-8-sphere-spacing);
    left: calc(50% - var(--emergence-8-sphere-horizontal-offset));
    top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2);
    transform: translate(-50%, -50%) rotate(0deg);
    width: var(--emergence-8-path-width);
  }
}

#tree-anim.emergence-8.transition-from-emergence-7 .path.path-13 .number {
  animation: transition-8-from-7-path-13-number var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-path-13-number {
  from {
    transform: translate(-50%, -50%) rotate(30deg);
  } to {
    transform: translate(-50%, -50%) rotate(0);
  }
}

#tree-anim.emergence-8 .path.path-14 {
  display: block;
  height: var(--emergence-8-sphere-spacing);
  left: calc(50% - var(--emergence-8-sphere-horizontal-offset) / 2);
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2.25);
  transform: translate(-50%, -50%) rotate(60deg);
  width: var(--emergence-8-path-width);
}
#tree-anim.emergence-8.transition-from-emergence-7 .path.path-14 {
  animation: transition-8-from-7-path-14 var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-path-14 {
  from {
    box-shadow: var(--emergence-7-path-shadow);
    font-size: var(--emergence-7-path-font-size);
    height: var(--emergence-7-sphere-spacing);
    left: 50%;
    top: calc(var(--emergence-7-top) + var(--emergence-7-sphere-spacing) * 2.5);
    width: var(--emergence-7-path-width);
    transform: translate(-50%, -50%) rotate(0deg);
  } to {
    box-shadow: var(--emergence-8-path-shadow);
    font-size: var(--emergence-8-path-font-size);
    height: var(--emergence-8-sphere-spacing);
    left: calc(50% - var(--emergence-8-sphere-horizontal-offset) / 2);
    top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2.25);
    transform: translate(-50%, -50%) rotate(60deg);
    width: var(--emergence-8-path-width);
  }
}

#tree-anim.emergence-8 .path.path-14 .number {
  transform: translate(-50%, -50%) rotate(-60deg);
}
#tree-anim.emergence-8.transition-from-emergence-7 .path.path-14 .number {
  animation: transition-8-from-7-path-14-number var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-path-14-number {
  from {
    transform: translate(-50%, -50%) rotate(0);
  } to {
    transform: translate(-50%, -50%) rotate(-60deg);
  }
}

#tree-anim.emergence-8 .path.path-15 {
  display: block;
  height: var(--emergence-8-path-width);
  left: 50%;
  top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2.5);
  width: calc(var(--emergence-8-sphere-horizontal-offset) * 2);
}
#tree-anim.emergence-8.transition-from-emergence-7 .path.path-15 {
  animation: transition-8-from-7-path-15 var(--transition-duration) ease-in-out;
}
@keyframes transition-8-from-7-path-15 {
  from {
    top: calc(var(--emergence-7-top) + var(--emergence-7-sphere-spacing) * 3);
    width: 0;
  } to {
    top: calc(var(--emergence-8-top) + var(--emergence-8-sphere-spacing) * 2.5);
    width: calc(var(--emergence-8-sphere-horizontal-offset) * 2);
  }
}

#tree-anim.emergence-8 .text.emergence-8 {
  display: block;
}
#tree-anim.emergence-8.transition-from-emergence-7 .text.emergence-8 {
  animation: fade-in calc(var(--transition-duration) / 2);
  animation-delay: calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
}
#tree-anim.emergence-8.transition-from-emergence-7 .text.emergence-7 {
  animation: fade-out calc(var(--transition-duration) / 2);
  animation-fill-mode: both;
  display: block;
}
